DEBUG=on
# DJANGO_SETTINGS_MODULE=myapp.settings.dev
DJANGO_SECRET_KEY='REPLACE-ME'
# DATABASE_URL=psql://urser:un-githubbedpassword@127.0.0.1:8458/database
DATABASE_URL=sqlite:///db.sqlite3

# DJANGO_ALLOWED_HOSTS="DNS-NAME"

# STATIC_FILES_ROOT="FQP"
# MEDIA_FILES_ROOT="FQP"

# EMAIL_HOST = 'smtp.blah.com'
# EMAIL_HOST_USER = '<mailbox>'
# EMAIL_HOST_PASSWORD = '<password>'
# DEFAULT_FROM_EMAIL = '<address>'
# SERVER_EMAIL = '<address>'