{% extends "base_site.html" %}
{% load l10n i18n theme_tags %}

{% block page_title %}Month 3 - Follow Up{% endblock %}
{% block page_header %}
    Month 3 - Follow Up
    <small>Case ID: {{ followup3m.trial_id|default:"New" }}</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:followup:index' %}">Follow Up</a></li>
    <li><a href="{% url 'wp4:followup:month3_list' %}">Month 3</a></li>
    <li class="active">View Report</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <dl class="">
{#                <dt>{% get_verbose_field_name followup3m "organ" %}</dt>#}
{#                <dd>{{ followup3m.organ }}</dd>#}
                <dt>{% get_verbose_field_name followup3m "start_date" %}</dt>
                <dd>{{ followup3m.start_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followup3m "graft_failure" %}</dt>
                <dd>{{ followup3m.graft_failure|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "graft_failure_date" %}</dt>
                <dd>{{ followup3m.graft_failure_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followup3m "graft_failure_type" %}</dt>
                <dd>{{ followup3m.get_graft_failure_type_display }}</dd>
                <dt>{% get_verbose_field_name followup3m "graft_failure_type_other" %}</dt>
                <dd>{{ followup3m.graft_failure_type_other }}</dd>
                <dt>{% get_verbose_field_name followup3m "graft_removal" %}</dt>
                <dd>{{ followup3m.graft_removal|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "graft_removal_date" %}</dt>
                <dd>{{ followup3m.graft_removal_date|date:"D d M Y" }}</dd>

                <dt>{% get_verbose_field_name followup3m "serum_creatinine_unit" %}</dt>
                <dd>{{ followup3m.get_serum_creatinine_unit_display }}</dd>
                <dt>{% get_verbose_field_name followup3m "serum_creatinine" %}</dt>
                <dd>{{ followup3m.serum_creatinine }}</dd>
                <dt>{% get_verbose_field_name followup3m "creatinine_clearance" %}</dt>
                <dd>{{ followup3m.creatinine_clearance }}</dd>

                <dt>{% get_verbose_field_name followup3m "currently_on_dialysis" %}</dt>
                <dd>{{ followup3m.get_currently_on_dialysis_display }}</dd>
                <dt>{% get_verbose_field_name followup3m "dialysis_type" %}</dt>
                <dd>{{ followup3m.get_dialysis_type_display }}</dd>
                <dt>{% get_verbose_field_name followup3m "dialysis_date" %}</dt>
                <dd>{{ followup3m.dialysis_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followup3m "number_of_dialysis_sessions" %}</dt>
                <dd>{{ followup3m.number_of_dialysis_sessions }}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="">
                <dt>{% get_verbose_field_name followup3m "immunosuppression_1" %}</dt>
                <dd>{{ followup3m.immunosuppression_1|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_2" %}</dt>
                <dd>{{ followup3m.immunosuppression_2|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_3" %}</dt>
                <dd>{{ followup3m.immunosuppression_3|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_4" %}</dt>
                <dd>{{ followup3m.immunosuppression_4|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_5" %}</dt>
                <dd>{{ followup3m.immunosuppression_5|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_6" %}</dt>
                <dd>{{ followup3m.immunosuppression_6|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_7" %}</dt>
                <dd>{{ followup3m.immunosuppression_7|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "immunosuppression_other" %}</dt>
                <dd>{{ followup3m.immunosuppression_other }}</dd>

                <dt>{% get_verbose_field_name followup3m "rejection" %}</dt>
                <dd>{{ followup3m.rejection|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "rejection_periods" %}</dt>
                <dd>{{ followup3m.rejection_periods }}</dd>
                <dt>{% get_verbose_field_name followup3m "rejection_prednisolone" %}</dt>
                <dd>{{ followup3m.rejection_prednisolone|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "rejection_drug" %}</dt>
                <dd>{{ followup3m.rejection_drug|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "rejection_drug_other" %}</dt>
                <dd>{{ followup3m.rejection_drug_other }}</dd>
                <dt>{% get_verbose_field_name followup3m "rejection_biopsy" %}</dt>
                <dd>{{ followup3m.rejection_biopsy|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followup3m "calcineurin" %}</dt>
                <dd>{{ followup3m.calcineurin|yesno|default_if_none:"unanswered"|capfirst }}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="">
                <dt>{% get_verbose_field_name followup3m "graft_complications" %}</dt>
                <dd>{{ followup3m.graft_complications }}</dd>
                <dt>{% get_verbose_field_name followup3m "notes" %}</dt>
                <dd>{{ followup3m.notes }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}


{% block footer_nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right">
                <a href="{% url "wp4:followup:month3_update" pk=followup3m.pk %}" class="btn btn-primary navbar-btn"
                   id="nav_button_edit">Edit</a>
            </div>
        </div>
    </nav>
{% endblock %}