{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Initial (Days 1-7) - Follow Up{% endblock %}
{% block page_header %}
    Initial (Days 1-7) - Follow Up
    <small>Listing</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:follow-ups:index' %}">Follow Up</a></li>
    <li class="active">Initial</li>
{% endblock %}

{% block content %}
    {% if followupinitial_list %}
    <h2>Follow Up listing
        <small>{{ followupinitial_list|length }} events on this page</small>
    </h2>

    {% include 'includes/paginator.html' %}
    <table class="table table-responsive table-condensed table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>
                Trial ID {% include 'includes/sort_column.html' with sort_by_field='organ__trial_id' default_sort=True %}
            </th>
            <th>Visit Date {% include 'includes/sort_column.html' with sort_by_field='start_date' %}</th>
            <th title="Has graft failed?">Fail</th>
            <th title="Was graft removed?">Remove</th>
            <th title="Is the Recipient still alive?">Alive</th>
            <th title="Followup Location">Hospital</th>
        </tr>
        </thead>
        <tbody>
        {% for follow in followupinitial_list %}
            <tr>
                <td>
                    {% if perms.followups.change_followupinitial %}
                    <a href="{% url 'wp4:follow-ups:initial_update' pk=follow.pk %}" class="btn btn-default btn-xs"><i
                        title="edit" class="glyphicon glyphicon-edit"></i> {{ follow.id }}</a>
                    {% elif perms.followups.view_followupinitial %}
                    <a href="{% url 'wp4:follow-ups:initial_detail' pk=follow.pk %}" class="btn btn-default btn-xs"><i
                        title="edit" class="glyphicon glyphicon-eye-open"></i> {{ follow.id }}</a>
                    {% else %}
                        {{ follow.id }}
                    {% endif %}
                </td>
                <td><samp><span class="text-muted">{{ follow.organ.trial_id|slice:":3" }}</span><span class="">{{ follow.organ.trial_id|slice:"3:5" }}</span><strong>{{ follow.organ.trial_id|slice:"5:8" }}</strong><span class="">{{ follow.organ.trial_id|slice:"8:" }}</span></samp></td>
                <td>{{ follow.start_date }}</td>
                <td>{{ follow.has_graft_failed|yesno|capfirst }}</td>
                <td>{{ follow.was_graft_removed|yesno|capfirst }}</td>
                <td>{{ follow.is_recipient_alive|yesno|capfirst }}</td>
                <td>{{ follow.organ.recipient.allocation.transplant_hospital }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/paginator.html' %}
    {% else %}
        <p>No Initial Follow Ups are available</p>
    {% endif %}
{% endblock %}
