{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Follow Up{% endblock %}
{% block page_header %}Follow Up{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Follow Up</li>
{% endblock %}

{% block content %}
    <h3>Actions available</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Follow Up: Home</li>
        {% if perms.followups.change_followupinitial or perms.followups.view_followupinitial %}
        <a href="{% url 'wp4:follow-ups:initial_list' %}" class="list-group-item">Initial</a>
        {% endif %}
        {% if perms.followups.change_followup3m or perms.followups.view_followup3m %}
            <a href="{% url 'wp4:follow-ups:month3_list' %}" class="list-group-item">Month 3</a>
        {% endif %}
        {% if perms.followups.change_followup6m or perms.followups.view_followup6m %}
            <a href="{% url 'wp4:follow-ups:month6_list' %}" class="list-group-item">Month 6</a>
        {% endif %}
        {% if perms.followups.change_followup1y or perms.followups.view_followup1y %}
            <a href="{% url 'wp4:follow-ups:final_list' %}" class="list-group-item">Final</a>
        {% endif %}
    </ul>

{% endblock %}
