{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Case {{ donor.trial_id }} - Procurement{% endblock %}
{% block page_header %}
    Procurement
    <small>Case: {{ donor.trial_id }}</small>
{% endblock %}


{% block content %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="modal-content">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-body" id="modal-progressbar">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Loading</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <form method="post" action="{% url 'compare:procurement_detail' pk=donor.id %}" class="form-horizontal"
          id="procurement_form">
        <div class="panel {% if is_randomised %}panel-info{% else %}panel-primary{% endif %}"
             style="margin-top: 10px;">
            <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                <h3 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1"
                       aria-expanded="{% if is_randomised %}false{% else %}true{% endif %}"
                       aria-controls="collapseListGroup1">
                        To be eligible for this trial you must satisfy the following conditions...<span
                            class="caret"></span>
                    </a>
                </h3>
            </div>
            <div id="collapseListGroup1" class="panel-collapse collapse {% if not is_randomised %}in{% endif %}"
                 role="tabpanel"
                 aria-labelledby="collapseListGroupHeading1"
                 aria-expanded="{% if is_randomised %}false{% else %}true{% endif %}" style="">
                <ul class="list-group" id="eligibility-list">
                    <li class="list-group-item list-group-item-success">
                        DCD III
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-success">
                        50 years old or more (is {{ donor.age }})
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-left-kidney">
                        <a href="javascript:highlightTransplantableField(true)">Left Kidney transplantable
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-right-kidney">
                        <a href="javascript:highlightTransplantableField()">Right Kidney transplantable
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-recipients">
                        <a href="javascript:highlightRecipientsField()">Two separate recipients
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation">
                    <a href="#leftkidney" aria-controls="leftkidney" role="tab" data-toggle="tab"
                       id="leftkidneytab">Left Kidney
                        {% if left_organ_error_count > 0 %}
                            <span class="label label-danger">{{ left_organ_error_count }}</span>
                        {% endif %}</a>
                </li>
                <li role="presentation" class="active"><a href="#donor" aria-controls="donor" role="tab"
                                                          data-toggle="tab" id="donortab">Donor
                    {% if donor_form.errors|length > 0 %}
                        <span class="label label-danger">{{ donor_form.errors|length }}</span>
                    {% endif %}</a>
                </li>
                <li role="presentation">
                    <a href="#rightkidney" aria-controls="rightkidney" role="tab" data-toggle="tab"
                       id="rightkidneytab">Right Kidney
                        {% if right_organ_error_count > 0 %}
                            <span class="label label-danger">{{ right_organ_error_count }}</span>
                        {% endif %}</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div role="tabpanel" class="tab-pane fade in active" id="donor">
                <h2 class="sr-only visible-print">Donor</h2>
                {{ donor_form.errors }}

                {% crispy donor_form %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="leftkidney">
                <h2 class="sr-only visible-print">Left Kidney</h2>
                <div class="row">
                    {% crispy left_organ_form %}
                    {% include "compare/snippets/procurement_resource_formset.html" with procurement_formset=left_organ_procurement_forms %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="rightkidney">
                <h2 class="sr-only visible-print">Right Kidney</h2>
                <div class="row">
                    {% crispy right_organ_form %}
                    {% include "compare/snippets/procurement_resource_formset.html" with procurement_formset=right_organ_procurement_forms %}
                </div>
            </div>
            {% csrf_token %}
        </div>
    </form>
{% endblock %}


{% block footer_nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            {#        <p class="navbar-text">Summary Information:</p>#}
            {#            <ul class="nav navbar-nav">#}
            {#                <li class="dropdown">#}
            {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
            {#                       aria-expanded="false">Donor <span class="caret"></span></a>#}
            {##}
            {#                    <div class="panel panel-info dropdown-menu">#}
            {#                        <div class="panel-heading">#}
            {#                            <h3 class="panel-title">Donor</h3>#}
            {#                        </div>#}
            {#                        <ul class="list-group">#}
            {#                            <li class="list-group-item">#}
            {#                                Age: {{ donor.age }}#}
            {#                            </li>#}
            {#                            <li class="list-group-item">#}
            {#                                NHS Number: {{ donor.number }}#}
            {#                            </li>#}
            {#                            <li class="list-group-item">#}
            {#                                Donor hospital: {{ donor.retrieval_hospital.name }}#}
            {#                            </li>#}
            {#                            <li class="list-group-item">#}
            {#                                Transplant co-ordinator:{{ donor.transplant_coordinator.full_name }}<br>#}
            {#                                <i class="glyphicon glyphicon-phone"></i>: {{ donor.transplant_coordinator.telephone }}#}
            {#                            </li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </li>#}
            {#                <li class="dropdown">#}
            {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
            {#                       aria-expanded="false">Dropdown <span class="caret"></span></a>#}
            {#                    <ul class="dropdown-menu">#}
            {#                        <li><a href="#">Action</a></li>#}
            {#                        <li><a href="#">Another action</a></li>#}
            {#                        <li><a href="#">Something else here</a></li>#}
            {#                        <li role="separator" class="divider"></li>#}
            {#                        <li><a href="#">Separated link</a></li>#}
            {#                        <li role="separator" class="divider"></li>#}
            {#                        <li><a href="#">One more separated link</a></li>#}
            {#                    </ul>#}
            {#                </li>#}
            {#            </ul>#}
            <div class="navbar-right">
                <input type="button" class="btn btn-primary navbar-btn" value="Save" id="nav_button_save"/>
            </div>
        </div>
    </nav>
{% endblock %}


{% block footer_extra_scripts %}
    {% include 'autocomplete_light/static.html' %}

    <script type="text/javascript">
        function highlightTransplantableField(left) {
            var side = (left ? "left" : "right");
            $('#' + side + 'kidneytab').tab('show');
            var formgroup = $('input:radio[name=' + side + '-organ-transplantable]').parents('div.form-group');
            var buttons = $('input:radio[name=' + side + '-organ-transplantable]').parents('label');
            $('html, body').animate({scrollTop: formgroup.offset().top}, 500);
            formgroup.addClass('has-warning');
            buttons.removeClass('btn-default').addClass('btn-warning');
            formgroup.fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();
        }

        function highlightRecipientsField() {
            $('#donortab').tab('show');
            var formgroup = $('input:radio[name=donor-multiple_recipients]').parents('div.form-group');
            var buttons = $('input:radio[name=donor-multiple_recipients]').parents('label');
            $('html, body').animate({scrollTop: formgroup.offset().top}, 500);
            formgroup.addClass('has-warning');
            buttons.removeClass('btn-default').addClass('btn-warning');
            formgroup.fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();
        }

        function clickTransplantable(target, left) {
            $(target).toggleClass('btn-default', true).toggleClass('btn-warning', false);
            $(target).siblings('label').toggleClass('btn-default', true).toggleClass('btn-warning', false);
            $(target).parents('div.form-group').toggleClass('has-warning', false);
            updateRandomiseKidney($(target).children('input:radio').val() == 'True', left);
        }

        function clickRecipients(target) {
            {# Values: None=Unanswered, 0=No, 1=Yes, 2=Unknown #}
            updateRandomiseRecipients($(target).children('input:radio').val() != 0);
        }

        function updateRandomiseKidney(yes, left) {
            var side = (left ? "left" : "right");
            if (yes) {
                $('#randomise-' + side + '-kidney')
                        .toggleClass('list-group-item-danger', false)
                        .toggleClass('list-group-item-success', true);
                $('#randomise-' + side + '-kidney').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', true)
                        .toggleClass('glyphicon-thumbs-down', false);
            } else {
                $('#randomise-' + side + '-kidney')
                        .toggleClass('list-group-item-danger', true)
                        .toggleClass('list-group-item-success', false);
                $('#randomise-' + side + '-kidney').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', false)
                        .toggleClass('glyphicon-thumbs-down', true);
            }
            updateRandomiseButton();
        }

        function updateRandomiseRecipients(yes) {
            if (yes) {
                $('#randomise-recipients')
                        .toggleClass('list-group-item-danger', false)
                        .toggleClass('list-group-item-success', true);
                $('#randomise-recipients').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', true)
                        .toggleClass('glyphicon-thumbs-down', false);
            } else {
                $('#randomise-recipients')
                        .toggleClass('list-group-item-danger', true)
                        .toggleClass('list-group-item-success', false);
                $('#randomise-recipients').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', false)
                        .toggleClass('glyphicon-thumbs-down', true);
            }
            updateRandomiseButton();
        }

        function updateRandomiseButton() {
            var count = $('#eligibility-list').find('.glyphicon-thumbs-up').length;
            if (count == 5 && {% if is_randomised %}false{% else %}true{% endif %}) {
                $('#nav_button_save').toggleClass('btn-primary', false).toggleClass('btn-success', true).val("Save and Randomise");
            } else {
                $('#nav_button_save').toggleClass('btn-primary', true).toggleClass('btn-success', false).val("Save");
            }
        }

        function toggleModalContent(display) {
            if (display) {
                $('#modal-progressbar').delay(1000).slideUp('slow');
                $('#modal-content').delay(1000).slideDown('slow');
            } else {
                $('#modal-content').hide();
                $('#modal-progressbar').show();
            }
        }

        $(document).bind('yourlabsWidgetReady', function () {
            $('body').on('initialize', '.autocomplete-light-widget[data-widget-bootstrap=hospital-widget]', function () {
                // HospitalWidget in cope.js
                $(this).yourlabsWidget(HospitalWidget);
            });
        });


        document.addEventListener("DOMContentLoaded", function (event) {
            // Set initial states
            updateRandomiseKidney({% if left_organ_form.transplantable.value %}true{% else %}false{% endif %}, true);
            updateRandomiseKidney({% if right_organ_form.transplantable.value %}true{% else %}false{% endif %}, false);
            updateRandomiseRecipients(
                    {# Values: None=Unanswered, 0=No, 1=Yes, 2=Unknown #}
                    {% if donor_form.multiple_recipients.value != 0 %}true{% else %}false{% endif %}
            );
            updateRandomiseButton();
            toggleModalContent(false);

            // Apply update functions
            $('input:radio[name=left-organ-transplantable]').parents('label').on('click', function () {
                clickTransplantable(this, true)
            });
            $('input:radio[name=right-organ-transplantable]').parents('label').on('click', function () {
                clickTransplantable(this, false)
            });
            $('input:radio[name=donor-multiple_recipients]').parents('label').on('click', function () {
                clickRecipients(this)
            });

            // Sample model
            $('#button_db1').on('click', function () {
                ajaxGet('/sample/type/1', function (content) {
                    //onSuccess
                    $('#modal-content').html(content);
                    toggleModalContent(true);
                })
            });
            $('#button_db2').on('click', function () {

            });
            $('#button_du1').on('click', function () {

            });
            $('#button_du2').on('click', function () {

            });

            $('#myModal').on('hidden.bs.modal', function (e) {
                toggleModalContent(false);
            })

            // Navbar bottom actions
            $('footer').addClass('navbar_spacing');
            $('#nav_button_save').on('click', function () {
                $('#procurement_form').submit();
            });
        });
    </script>
{% endblock %}
