{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Case {{ donor.trial_id }} - Procurement{% endblock %}
{% block page_header %}
    Procurement
    <small>Case: {{ donor.trial_id }}</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:compare:procurement_list' %}">Procurement</a></li>
    <li class="active">Edit Case</li>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'wp4:compare:procurement_form' pk=donor.id %}" class=""
          id="procurement_form">
        <div class="panel {% if donor.is_randomised %}panel-info{% else %}panel-primary{% endif %}"
             style="margin-top: 10px;">
            <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                <h3 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1"
                       aria-expanded="{% if donor.is_randomised %}false{% else %}true{% endif %}"
                       aria-controls="collapseListGroup1">
                        To be eligible for this trial the Donor must satisfy the following conditions...<span class="caret"></span>
                    </a>
                </h3>
            </div>
            <div id="collapseListGroup1" class="panel-collapse collapse {% if not donor.is_randomised %}in{% endif %}"
                 role="tabpanel"
                 aria-labelledby="collapseListGroupHeading1"
                 aria-expanded="{% if donor.is_randomised %}false{% else %}true{% endif %}" style="">
                <ul class="list-group" id="eligibility-list">
                    <li class="list-group-item list-group-item-success">
                        DCD III
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-success">
                        50 years old or more (is {{ donor.age }})
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-left-kidney">
                        <a href="javascript:highlightTransplantableField(true)">Left Kidney transplantable
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-right-kidney">
                        <a href="javascript:highlightTransplantableField()">Right Kidney transplantable
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-recipients">
                        <a href="javascript:highlightRecipientsField()">Two separate recipients
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="">
                    <a href="#leftkidney" aria-controls="leftkidney" role="tab" data-toggle="tab"
                       id="leftkidneytab">Left Kidney
                        {% if left_organ_error_count > 0 %}
                            <span class="label label-danger">{{ left_organ_error_count }} Error{{ left_organ_error_count|pluralize }}</span>
                        {% endif %}</a>
                </li>
                <li role="presentation" class="active"><a href="#donor" aria-controls="donor" role="tab"
                                                          data-toggle="tab" id="donortab">Donor
                    {% if donor_form.errors|length > 0 %}
                        <span class="label label-danger">{{ donor_form.errors|length }} Error{{ donor_form.errors|pluralize }}</span>
                    {% endif %}</a>
                </li>
                <li role="presentation" class="">
                    <a href="#rightkidney" aria-controls="rightkidney" role="tab" data-toggle="tab"
                       id="rightkidneytab">Right Kidney
                        {% if right_organ_error_count > 0 %}
                            <span class="label label-danger">{{ right_organ_error_count }} Error{{ right_organ_error_count|pluralize }}</span>
                        {% endif %}</a>
                </li>
                <li role="presentation" class="">
                    <a href="#samples" aria-controls="samples" role="tab" data-toggle="tab"
                       id="samplestab">Samples</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div role="tabpanel" class="tab-pane fade in active" id="donor">
                <h2 class="sr-only visible-print">Donor</h2>

                <div class="row">
                    {% if person_form.non_field_errors or donor_form.non_field_errors %}
                        <div class="col-md-12" style="margin-top: 10px;">
                            {% for error in person_form.non_field_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                            {% for error in donor_form.non_field_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% crispy person_form %}
                    {% crispy donor_form %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="leftkidney">
                <h2 class="sr-only visible-print">Left Kidney</h2>

                <div class="row">
                    {% if left_organ_form.non_field_errors or left_organ_procurement_forms.non_form_errors %}
                        <div class="col-md-12" style="margin-top: 10px;">
                            {% for error in left_organ_form.non_field_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                            {% for error in left_organ_procurement_forms.non_form_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% crispy left_organ_form %}
                    {% include "compare/snippets/procurement_resource_formset.html" with procurement_formset=left_organ_procurement_forms %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="rightkidney">
                <h2 class="sr-only visible-print">Right Kidney</h2>

                <div class="row">
                    {% if right_organ_form.non_field_errors or right_organ_procurement_forms.non_form_errors %}
                        <div class="col-md-12" style="margin-top: 10px;">
                            {% for error in right_organ_form.non_field_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                            {% for error in right_organ_procurement_forms.non_form_errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% crispy right_organ_form %}
                    {% include "compare/snippets/procurement_resource_formset.html" with procurement_formset=right_organ_procurement_forms %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="samples">
                <h2 class="sr-only visible-print">Samples</h2>

                <p class="alert alert-warning">Please ensure you have successfully saved before clicking on any links below</p>

                <h3>Donor Samples</h3>
                {% for event in donor_sample_events %}
                    {% include "samples/event_detail_panel.html" with event=event %}
                {% empty %}
                    <p class="text-danger" style="margin-top: 1em;">No samples have been created for this Donor. Please report to Sys-Admin.</p>
                {% endfor %}

                <h3>Left Kidney Samples</h3>
                {% for event in left_organ_sample_events %}
                    {% include "samples/event_detail_panel.html" with event=event %}
                {% empty %}
                    <p class="text-danger" style="margin-top: 1em;">No samples have been created for this Kidney. Please report to Sys-Admin.</p>
                {% endfor %}

                <h3>Right Kidney Samples</h3>
                {% for event in right_organ_sample_events %}
                    {% include "samples/event_detail_panel.html" with event=event %}
                {% empty %}
                    <p class="text-danger" style="margin-top: 1em;">No samples have been created for this Kidney. Please report to Sys-Admin.</p>
                {% endfor %}
            </div>
            {% csrf_token %}
        </div>
    </form>
{% endblock %}


{% block footer_nav %}
    {% if not donor.form_completed %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right">
                <input type="button" class="btn btn-primary navbar-btn" value="Save" id="nav_button_save"/>
            </div>
        </div>
    </nav>
    {% endif %}
{% endblock %}


{% block footer_extra_scripts %}

    <script type="text/javascript">
        function highlightTransplantableField(left) {
            var side = (left ? "left" : "right");
            $('#' + side + 'kidneytab').tab('show');
            var formgroup = $('input:radio[name=' + side + '-organ-transplantable]').parents('div.form-group');
            var buttons = $('input:radio[name=' + side + '-organ-transplantable]').parents('label');
            $('html, body').animate({scrollTop: formgroup.offset().top}, 500);
            formgroup.addClass('has-warning');
            buttons.removeClass('btn-default').addClass('btn-warning');
            formgroup.fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();
        }

        function highlightRecipientsField() {
            $('#donortab').tab('show');
            var formgroup = $('input:radio[name=donor-multiple_recipients]').parents('div.form-group');
            var buttons = $('input:radio[name=donor-multiple_recipients]').parents('label');
            $('html, body').animate({scrollTop: formgroup.offset().top}, 500);
            formgroup.addClass('has-warning');
            buttons.removeClass('btn-default').addClass('btn-warning');
            formgroup.fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();
        }

        function clickTransplantable(target, left) {
            $(target).toggleClass('btn-default', true).toggleClass('btn-warning', false);
            $(target).siblings('label').toggleClass('btn-default', true).toggleClass('btn-warning', false);
            $(target).parents('div.form-group').toggleClass('has-warning', false);
            updateRandomiseKidney($(target).children('input:radio').val() == 'True', left);
        }

        function clickRecipients(target) {
            {# Values: None=Unanswered, 0=No, 1=Yes, 2=Unknown #}
            updateRandomiseRecipients($(target).children('input:radio').val() != 0);
        }

        function clickCompleted(target) {
            updateCloseButton();
        }

        function updateRandomiseKidney(yes, left) {
            var side = (left ? "left" : "right");
            if (yes) {
                $('#randomise-' + side + '-kidney')
                        .toggleClass('list-group-item-danger', false)
                        .toggleClass('list-group-item-success', true);
                $('#randomise-' + side + '-kidney').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', true)
                        .toggleClass('glyphicon-thumbs-down', false);
            } else {
                $('#randomise-' + side + '-kidney')
                        .toggleClass('list-group-item-danger', true)
                        .toggleClass('list-group-item-success', false);
                $('#randomise-' + side + '-kidney').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', false)
                        .toggleClass('glyphicon-thumbs-down', true);
            }
            updateRandomiseButton();
        }

        function updateRandomiseRecipients(yes) {
            if (yes) {
                $('#randomise-recipients')
                        .toggleClass('list-group-item-danger', false)
                        .toggleClass('list-group-item-success', true);
                $('#randomise-recipients').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', true)
                        .toggleClass('glyphicon-thumbs-down', false);
            } else {
                $('#randomise-recipients')
                        .toggleClass('list-group-item-danger', true)
                        .toggleClass('list-group-item-success', false);
                $('#randomise-recipients').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', false)
                        .toggleClass('glyphicon-thumbs-down', true);
            }
            updateRandomiseButton();
        }

        function updateRandomiseButton() {
            var count = $('#eligibility-list').find('.glyphicon-thumbs-up').length;
            if (count == 5 && {% if donor.is_randomised %}false{% else %}true{% endif %}) {
                $('#nav_button_save').toggleClass('btn-primary', false).toggleClass('btn-success', true).val("Save and Randomise");
            } else {
                $('#nav_button_save').toggleClass('btn-primary', true).toggleClass('btn-success', false).val("Save");
            }
        }

        function updateCloseButton() {
            var isCompleted = $('input:radio[name=donor-procurement_form_completed]:checked').val() == "True";
            if (isCompleted) {
                $('#nav_button_save').toggleClass('btn-primary', false).toggleClass('btn-danger', true).val("Save and Close");
            } else {
                $('#nav_button_save').toggleClass('btn-primary', true).toggleClass('btn-danger', false).val("Save");
            }
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            // Set initial states
            updateRandomiseKidney({% if left_organ_form.transplantable.value %}true{% else %}false{% endif %}, true);
            updateRandomiseKidney({% if right_organ_form.transplantable.value %}true{% else %}false{% endif %}, false);
            updateRandomiseRecipients(
                    {# Values: None=Unanswered, 0=No, 1=Yes, 2=Unknown #}
                    // value={{ donor_form.multiple_recipients.value|add:"0" }}
                    {% if donor_form.multiple_recipients.value|add:"0" != 0 %}true{% else %}false{% endif %}
            );
            updateRandomiseButton();
            updateCloseButton();

{#            // Reveal the form completed panel if no errors. NB: Non-randomised cases can be completed.#}
{#            var errorCount = {{ donor_form.errors|length }} + {{ person_form.errors|length }} + {{ left_organ_error_count }} + {{ right_organ_error_count }};#}
{#            if (errorCount==0) { $("DIV.panel-danger").toggleClass("hidden", false); }#}

            // Apply update functions
            $('input:radio[name=left-organ-transplantable]').parents('label').on('click', function () {
                clickTransplantable(this, true)
            });
            $('input:radio[name=right-organ-transplantable]').parents('label').on('click', function () {
                clickTransplantable(this, false)
            });
            $('input:radio[name=donor-multiple_recipients]').parents('label').on('click', function () {
                clickRecipients(this)
            });
            $('input:radio[name=donor-procurement_form_completed]').parents('label').on('change', function () {
                clickCompleted(this)
            });

            // Navbar bottom actions
            $('footer').addClass('navbar_spacing');
            $('#nav_button_save').on('click', function () {
                $('#procurement_form').submit();
            });
        });
    </script>
{% endblock %}
