{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Transplantation{% endblock %}
{% block page_header %}Transplantation - Cases{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>
                Recipients
                <small>({{ existing_cases|length }} case{{ existing_cases|pluralize }})</small>
            </h2>
            {% if existing_cases|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trial ID</th>
                        <th>Number</th>
                        <th>Age</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in existing_cases %}
                        <tr>
                            <td>
                                <a href="{% url 'compare:transplantation_detail' case.id %}"
                                   class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>
                                    {{ case.trial_id }}
                                </a>
                                {# TODO: Make this staff only #}
{#                                <a href="{% url 'admin:compare_recipient_change' case.id %}"><i#}
{#                                        class="glyphicon glyphicon-briefcase"></i></a>#}
                            </td>
                            <td>{{ case.number|default:"Unknown number" }}</td>
                            <td>{{ case.age|default:"Unknown age" }}</td>
                            <td>{{ case.get_gender_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No existing cases available. Contact us if you think this is in error.</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>
                Organs available
                <small>({{ new_cases|length }} case{{ new_cases|pluralize }})</small>
            </h2>
            {% if new_cases|length > 0 %}
                <div class="list-group">
                    {% for case in new_cases %}
                        <a href="{% url 'compare:transplantation_detail' case.id %}"
                           class="list-group-item">{{ case.trial_id }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No new cases available</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
