{% extends "base_site.html" %}
{% load l10n i18n humanize %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Case: {{ organ.trial_id }} - Transplantation{% endblock %}
{% block page_header %}
    Transplantation
    <small>Case: {{ organ.trial_id }}</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:compare:transplantation_list' %}">Transplantation</a></li>
    <li class="active">Edit Case</li>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'wp4:compare:transplantation_detail' pk=organ.id %}" class=""
          id="transplant-form">
        <div class="panel panel-primary" style="margin-top: 10px;">
            <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                <h3 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1"
                       aria-expanded="{% if donor.is_randomised %}false{% else %}true{% endif %}"
                       aria-controls="collapseListGroup1">
                        To be eligible for this trial the Recipient must satisfy the following conditions...<span
                            class="caret"></span>
                    </a>
                </h3>
            </div>
            <div id="collapseListGroup1" class="panel-collapse collapse in"
                 role="tabpanel"
                 aria-labelledby="collapseListGroupHeading1"
                 aria-expanded="true" style="">
                <ul class="list-group" id="eligibility-list">
                    <li class="list-group-item list-group-item-danger" id="randomise-left-kidney">
                        <a href="javascript:highlightTransplantableField(true)">Allocated to a Project Site
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-right-kidney">
                        <a href="javascript:highlightTransplantableField()">Single Kidney Transplantation Operation
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-recipients">
                        <a href="javascript:highlightRecipientsField()">Recipient has Consented to Project
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                    <li class="list-group-item list-group-item-danger" id="randomise-recipients">
                        <a href="javascript:highlightRecipientsField()">Kidney was successfully transplanted
                            <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                        <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Allocation Round {{ forloop.counter }}
            </div>
            <div class="panel-body">
                <p>Ask about Allocation here</p>


                {{ allocation_formset.management_form|crispy }}
                {% for form in allocation_formset %}
                    <h3>{{ forloop.counter|ordinal }} Allocation</h3>
                    {{ form.id }}
                    {% for field in form %}
                        {% if field.errors %}
                            <p class="text-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    {% endfor %}
                    {% crispy form form.helper %}
                {% endfor %}
            </div>
        </div>

        {% if recipient_form_loaded %}
            <h2>Recipient</h2>
            <div class="row">
                {% if person_form.non_field_errors or recipient_form.non_field_errors %}
                    <div class="col-md-12" style="margin-top: 10px;">
                        {% for error in person_form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        {% for error in recipient_form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% crispy person_form %}
                {% crispy recipient_form %}
            </div>
            {% if worksheet %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Samples</h3>
                    </div>
                    <div class="panel-body">
                        <p class="alert alert-warning">Please ensure you have successfully saved before clicking on the
                            link below</p>

                        <p><a href="{% url 'wp4:samples:update' pk=worksheet.id %}" class="btn btn-default">Goto Samples
                            Worksheet ({{ worksheet }})</a></p>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p><span class="label label-info">Info</span> Please confirm that the organ has <strong>not</strong> been
                re-allocated. Once confirmed and saved, the remainder of the form will appear for you to complete.</p>
        {% endif %}
    </form>


{% endblock %}


{% block footer_nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right">
                <input type="button" class="btn btn-primary navbar-btn" value="Save" id="nav_button_save"/>
            </div>
        </div>
    </nav>
{% endblock %}


{% block footer_extra_scripts %}
    {% include 'autocomplete_light/static.html' %}

    <script>
        $(document).bind('yourlabsWidgetReady', function () {
            // HospitalWidget in cope.js
            $('body').on('initialize', '.autocomplete-light-widget[data-widget-bootstrap=hospital-widget]', function () {
                $(this).yourlabsWidget(HospitalWidget);
            });
        });

        document.addEventListener("DOMContentLoaded", function (event) {

            // Navbar bottom actions
            $('footer').addClass('navbar_spacing');
            $('#nav_button_save').on('click', function () {
                $('#transplant-form').submit();
            });
        });
    </script>
{% endblock %}
