{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Transplantation{% endblock %}
{% block page_header %}Transplantation - Cases{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Transplantation</li>
{% endblock %}

{% block content %}
{#    exisiting_cases is a list of Organs, as is new_cases #}
    <div class="row">
        <div class="col-md-9">
            <h2>
                Recipients
                <small>({{ existing_cases|length }} case{{ existing_cases|pluralize }})</small>
            </h2>
            {% if existing_cases|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trial ID</th>
                        <th>Last Updated</th>
                        <th>Allocated?</th>
                        <th>Number</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Samples</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in existing_cases %}
                        <tr>
                            <td>
                                <a href="{% url 'wp4:compare:transplantation_detail' case.id %}"
                                   class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>
                                    {{ case.trial_id }}
                                </a>
                                {# TODO: Make this staff only #}
{#                                <a href="{% url 'admin:compare_recipient_change' case.id %}"><i#}
{#                                        class="glyphicon glyphicon-briefcase"></i></a>#}
                            </td>
                            <td>{{ case.created_on }}</td>
                            {% if case.is_allocated %}
                            <td class="success"><i class="glyphicon glyphicon-ok"></i> {{ case.is_allocated|yesno }} ({{ case.reallocation_count }})</td>
                            {% else %}
                            <td class="danger"><i class="glyphicon glyphicon-ban-circle"></i> {{ case.is_allocated|yesno }} ({{ case.reallocation_count }})</td>
                            {% endif %}
                            <td>{{ case.recipient.person.number|default:"Unknown number" }}</td>
                            <td>{{ case.recipient.person.age_from_dob|default:"Unknown age" }}</td>
                            <td>{{ case.recipient.person.get_gender_display }}</td>
                        {% if case.recipient.person.worksheet %}
                            <td><a href="{% url 'wp4:samples:update' pk=case.recipient.person.worksheet.id %}">{{ case.recipient.person.worksheet }}</a></td>
                        {% else %}
                            <td>No Worksheet</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No existing cases available. Contact us if you think this is in error.</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h2>
                Organs available<br>
                <small>({{ new_cases|length }} case{{ new_cases|pluralize }})</small>
            </h2>
            {% if new_cases|length > 0 %}
                <div class="list-group">
                    {% for case in new_cases %}
                        <a href="{% url 'wp4:compare:transplantation_detail' case.id %}"
                           class="list-group-item">{{ case.trial_id }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No new cases available</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
