{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Case: {{ organ.trial_id }} - Transplantation{% endblock %}
{% block page_header %}
    Transplantation
    <small>Case: {{ organ.trial_id }}</small>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'compare:transplantation_detail' pk=organ.id %}" class=""
          id="transplant-form">
        {#        <h2 class="sr-only visible-print">Donor</h2>#}
        {#        {{ recipient_form.errors }}#}
        {#        {% crispy recipient_form %}#}


        {{ allocation_formset.management_form|crispy }}
        {% for form in allocation_formset %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Allocation Round {{ forloop.counter }}
                </div>
                <div class="panel-body">
                    {{ form.id }}
                    {% for field in form %}
                        {% if field.errors %}
                            <p class="text-danger">{{ field.errors|striptags }}</p>
                        {% endif %}
                    {% endfor %}
                    {% crispy form form.helper %}

                </div>
            </div>
        {% endfor %}

        <h2>Recipient</h2>
        {% if recipient_form_loaded %}
            <div class="row">
                {% if person_form.non_field_errors or recipient_form.non_field_errors %}
                    <div class="col-md-12" style="margin-top: 10px;">
                        {% for error in person_form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        {% for error in recipient_form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% crispy person_form %}
                {% crispy recipient_form %}
            </div>
        {% else %}
            <p><span class="label label-info">Info</span> Please confirm that the organ has not been re-allocated. The
                remainder of the form will appear after saving.</p>
        {% endif %}
    </form>
{% endblock %}


{% block footer_nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right">
                <input type="button" class="btn btn-primary navbar-btn" value="Save" id="nav_button_save"/>
            </div>
        </div>
    </nav>
{% endblock %}


{% block footer_extra_scripts %}
    {% include 'autocomplete_light/static.html' %}

    <script>
        $(document).bind('yourlabsWidgetReady', function () {
            // HospitalWidget in cope.js
            $('body').on('initialize', '.autocomplete-light-widget[data-widget-bootstrap=hospital-widget]', function () {
                $(this).yourlabsWidget(HospitalWidget);
            });
        });

        document.addEventListener("DOMContentLoaded", function (event) {

            // Navbar bottom actions
            $('footer').addClass('navbar_spacing');
            $('#nav_button_save').on('click', function () {
                $('#transplant-form').submit();
            });
        });
    </script>
{% endblock %}
