{% extends "base_site.html" %}

{% block page_title %}Adverse Events{% endblock %}
{% block page_header %}Adverse Events{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Adverse Events</li>
{% endblock %}

{% block content %}
    {% if event_list %}
    <h2>Event listing <small>{{ event_list|length }} events on this page</small></h2>

        {% include 'includes/paginator.html' %}
        <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <th>ID {% include 'includes/sort_column.html' with sort_by_field='id' %}</th>
            <th>Trial ID {% include 'includes/sort_column.html' with sort_by_field='organ__trial_id' %}</th>
            <th>Onset Date {% include 'includes/sort_column.html' with sort_by_field='onset_at_date' default_sort=True %}</th>
            <th title="Is Ongoing?">O? {% include 'includes/sort_column.html' with sort_by_field='event_ongoing' %}</th>
            <th title="Led to Death?">D? {% include 'includes/sort_column.html' with sort_by_field='death' %}</th>
            <th title="Is Serious?">S?</th>
            <th title="Treatment related?">TR? {% include 'includes/sort_column.html' with sort_by_field='treatment_related' %}</th>
            <th>Organ Location</th>
            <th>Local Contact {% include 'includes/sort_column.html' with sort_by_field='contact' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
        <tr class="{% if event.is_serious %}text-danger{% endif %} {% if event.death %}bg-danger{% endif %}">
            <td>
                {% if perms.adverse_event.change_event %}
                <a href="{% url 'wp4:adverse-event:detail' pk=event.pk %}" class="btn btn-default btn-xs"><i
                    title="edit" class="glyphicon glyphicon-eye-open"></i></a>
                <a href="{% url 'wp4:adverse-event:update' pk=event.pk %}" class="btn btn-primary btn-xs"><i
                    title="edit" class="glyphicon glyphicon-edit"></i> {{ event.id }}</a>
                {% elif perms.adverse_event.view_event %}
                <a href="{% url 'wp4:adverse-event:detail' pk=event.pk %}" class="btn btn-default btn-xs"><i
                    title="edit" class="glyphicon glyphicon-eye-open"></i> {{ event.id }}</a>
                {% else %}
                    {{ event.id }}
                {% endif %}
            </td>
            <td><samp><span class="text-muted">{{ event.organ.trial_id|slice:":3" }}</span><span class="">{{ event.organ.trial_id|slice:"3:5" }}</span><strong>{{ event.organ.trial_id|slice:"5:8" }}</strong><span class="">{{ event.organ.trial_id|slice:"8:" }}</span></samp></td>
{#            <td>{{ event.organ.trial_id }}</td>#}
            <td>{{ event.onset_at_date }}</td>
            <td class="{% if event.event_ongoing %}text-info{% endif %}">{{ event.event_ongoing|yesno|capfirst }}</td>
            <td>{{ event.death|yesno|capfirst }}</td>
            <td>{{ event.is_serious|yesno|capfirst }}</td>
            <td>{{ event.get_treatment_related_display }}</td>
            <td>{{ event.organ.final_allocation.transplant_hospital|default_if_none:"Organ Location Unknown" }}</td>
            <td>{{ event.contact.get_full_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

        {% include 'includes/paginator.html' %}

    {% else %}
        <p>No events are available.</p>
    {% endif %}
    {% if perms.adverse_event.add_event %}
    <p><a href="{% url "wp4:adverse-event:add" %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Event</a></p>
    {% endif %}
{% endblock %}