{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Samples{% endblock %}
{% block page_header %}Samples - Listing{% endblock %}

{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>System ID</th>
            <th>Barcode</th>
            <th>Trial ID</th>
            <th>Person Number</th>
            <th>Person Age</th>
            <th>Person Gender</th>
            <th>Is Donor</th>
            <th>Is Recipient</th>
        </tr>
        </thead>
        <tbody>
        {% for worksheet in current_worksheets %}
            <tr>
                {% with worksheet.id|stringformat:"03d" as internal_id %}
                    <td><a href="{% url "wp4:samples:update" pk=worksheet.id %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i> {{ "WS"|add:internal_id }}</a></td>
                {% endwith %}
                <td>{{ worksheet.barcode|default:"Not Set" }}</td>
                <td>{{ worksheet.person.trial_id }}</td>
                <td>{{ worksheet.person.number }}</td>
                <td>{{ worksheet.person.age_from_dob }}</td>
                <td>{{ worksheet.person.get_gender_display }}</td>
                <td>{{ worksheet.person.is_donor }}</td>
                <td>{{ worksheet.person.is_recipient }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
