{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Samples{% endblock %}
{% block page_header %}Samples{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Samples</li>
{% endblock %}

{% block content %}
    <h3>Actions available</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Samples: Home</li>

        {% if perms.samples.change_event or perms.samples.view_events %}
            <a href="{% url 'wp4:samples:event_list' %}" class="list-group-item">All Samples</a>
            <a href="{% url 'wp4:samples:donor_list' %}" class="list-group-item">Donor Samples</a>
            <a href="{% url 'wp4:samples:organ_list' %}" class="list-group-item">Organ Samples</a>
            <a href="{% url 'wp4:samples:recipient_list' %}" class="list-group-item">Recipient Samples</a>
        {% else %}
            <li class="list-group-item list-group-item-warning">You have no permission to go further</li>
        {% endif %}
    </ul>
{% endblock %}
