{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Samples{% endblock %}
{% block page_header %}Sample Collection{% endblock %}

{% block content %}
    <form method="post" class="" id="sample_form">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Samples Worksheet</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% if worksheet_form.non_field_errors %}
                    <div class="col-md-12" style="margin-top: 10px;">
                        {% for error in worksheet_form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% crispy worksheet_form %}
            </div>
            {% if worksheet_form.instance.person.is_donor %}
                <p><a href="{% url 'wp4:compare:procurement_detail' pk=worksheet_form.instance.person.donor.id %}"
                      class="btn btn-default">Go to Procurement Record</a></p>
            {% else %}
                <p>
                    <a href="{% url 'wp4:compare:transplantation_detail' pk=worksheet_form.instance.person.recipient.organ.id %}"
                       class="btn btn-default">Go to Transplant Record</a></p>
            {% endif %}
        </div>
    </div>

    {% if events|length_is:0 %}
        <p class="alert alert-warning">There are no samples to be collected from this UK Donor. However, please ensure that
        relevant Perfusate samples are taken for the Organ(s) and sent on to the relevant Recipient technician.</p>
    {% endif %}
    {% for event_row in events %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ event_row.form.instance.get_name_display }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% if event_row.form.non_field_errors %}
                        {% for error in event_row.form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% crispy event_row.form %}
                </div>

                {{ event_row.formset.management_form|crispy }}
                {% for subform in event_row.formset %}
                    <div class="row">
                        {{ subform.id }}
                        {% for field in subform %}
                            {% if field.errors %}
                                <p class="alert alert-danger">{{ field.errors|striptags }}</p>
                            {% endif %}
                        {% endfor %}
                        {% crispy subform subform.helper %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </form>

{% endblock %}


{% block footer_nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right">
                <input type="button" class="btn btn-primary navbar-btn" value="Save" id="nav_button_save"/>
            </div>
        </div>
    </nav>
{% endblock %}


{% block footer_extra_scripts %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
            // Navbar bottom actions
            $('footer').addClass('navbar_spacing');
            $('#nav_button_save').on('click', function () {
                $('#sample_form').submit();
            });
        });
    </script>
{% endblock %}