{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Samples{% endblock %}
{% block page_header %}Samples - Listing{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Samples</li>
{% endblock %}

{% block content %}
    {% include 'includes/paginator.html' %}

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>System ID <a href="?order_by=id&ordering=asc&page={{ request.GET.page }}">A</a> <a href="?order_by=id&ordering=desc&page={{ request.GET.page }}">D</a></th>
            <th>Barcode <a href="?order_by=barcode&ordering=asc&page={{ request.GET.page }}">A</a> <a href="?order_by=barcode&ordering=desc&page={{ request.GET.page }}">D</a></th>
            <th>Trial ID</th>
            <th>Person Number <a href="?order_by=person__number&ordering=asc&page={{ request.GET.page }}">A</a> <a href="?order_by=person__number&ordering=desc&page={{ request.GET.page }}">D</a></th>
            <th>Person Age <a href="?order_by=person__ager&ordering=asc&page={{ request.GET.page }}">A</a> <a href="?order_by=person__age&ordering=desc&page={{ request.GET.page }}">D</a></th>
            <th>Person Gender <a href="?order_by=person__gender&ordering=asc&page={{ request.GET.page }}">A</a> <a href="?order_by=person__gender&ordering=desc&page={{ request.GET.page }}">D</a></th>
            <th>Is Donor</th>
            <th>Is Recipient</th>
        </tr>
        </thead>
        <tbody>
        {% for worksheet in worksheet_list %}
            <tr>
                {% with worksheet.id|stringformat:"03d" as internal_id %}
                    <td><a href="{% url "wp4:samples:update" pk=worksheet.id %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i> {{ "WS"|add:internal_id }}</a></td>
                {% endwith %}
                <td>{{ worksheet.barcode|default:"Not Set" }}</td>
                <td>{{ worksheet.person.trial_id }}</td>
                <td>{{ worksheet.person.number }}</td>
                <td>{{ worksheet.person.age_from_dob }}</td>
                <td>{{ worksheet.person.get_gender_display }}</td>
                <td>{{ worksheet.person.is_donor }}</td>
                <td>{{ worksheet.person.is_recipient }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'includes/paginator.html' %}
{% endblock %}
