{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Worksheets{% endblock %}
{% block page_header %}Sample Worksheets - Detail{% endblock %}

{% block content %}
    <p>Barcode: {{ worksheet.barcode }}</p>
    <p>Person: {{ worksheet.person }}</p>

    {% for deviation in worksheet.deviation_set.all %}
        <p>Deviation: {{ deviation.description }}</p>
    {% endfor %}

    {% for sample in worksheet.urinesample_set.all %}
        <p>Urine sample: {{ sample }}</p>
    {% endfor %}
    {% for sample in worksheet.bloodsample_set.all %}
        <p>Blood sample: {{ sample }}</p>
    {% endfor %}
    {% for sample in worksheet.perfusatesample_set.all %}
        <p>Perfusate sample: {{ sample }}</p>
    {% endfor %}
    {% for sample in worksheet.tissuesample_set.all %}
        <p>Tissue sample: {{ sample }}</p>
    {% endfor %}
{% endblock %}