/* id can occur only once */
#fixedposition{
    position:fixed;
}

/* classes */
.FontMandatory
{
    font-style:italic;
    font-weight:normal;
}
.FontTime
{
    /*font-style:italic;*/
    font-style:italic;
    font-weight:normal;
}
.Caution 
{
    font-family: Verdana; 
    font-size: 12pt; 
    color: red; 
    font-weight:bold;

}
.MandatoryFieldMessage 
{
    font-family: Verdana;
    font-size: 10pt; 
    color: red; 
    font-weight:bold;

}
.Incomplete
{
    /*font-family: Verdana; */
    /*font-size: 12pt; */
    /*color: red;*/
    background-color:lightgreen; 
    /*font-weight:bold;*/

}
.PromptMessage
{
    /*font-family: Verdana; */
    /*font-size: 12pt; */
    /*color: red;*/
    background-color:green; 
    /*font-weight:bold;*/

}

