<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="centrecode" value="1"/>
    <add key="isserver" value="1"/>
    <add key="centrecodelist" value="2,6,11,12"/>
    <add key="TrialIDLeadingCharacters" value="WP4"/>
    <!-- Leading character for UK-->
    <add key="TrialIDLeadingCharactersUK" value="WP41"/>
    <add key="dbname" value="cope41"/>
    <add key="passlength" value="8"/>
    <add key="passuniquecharacter" value="5"/>
    <add key="NumberTries" value="5"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="LockedMessage" value="This record is now locked. If corrections are required please notify the COPE Trials office &lt;a href=&quot;mailto:cope.trials@nds.ox.ac.uk&quot;&gt;cope.trials@nds.ox.ac.uk&lt;/a&gt; "/>
    <add key="LockedMessageManual" value="You will no longer be able to edit any data on this page. Please contact the COPE Trials office &lt;a href=&quot;mailto:cope.trials@nds.ox.ac.uk&quot;&gt;cope.trials@nds.ox.ac.uk&lt;/a&gt; if you need to change anything."/>
    <add key="FinalMessage" value="This record is now marked as Final. If corrections are required please notify the COPE Trials office &lt;a href=&quot;mailto:cope.trials@nds.ox.ac.uk&quot;&gt;cope.trials@nds.ox.ac.uk&lt;/a&gt; "/>
    <add key="LockedFinalMessage" value="This record is now locked/marked as Final. If corrections are required please notify the COPE Trials office &lt;a href=&quot;mailto:cope.trials@nds.ox.ac.uk&quot;&gt;cope.trials@nds.ox.ac.uk&lt;/a&gt; "/>
    <add key="MandatoryMessage" value="Fields with an Asterisk must be entered. Fields in Bold/Red are Mandatory for data to be classified as Complete."/>
    <add key="MandatoryMessageNoAsterisk" value="Fields in Bold/Red are Mandatory for data to be classified as Complete."/>
    <add key="TimeMessage" value="Please Enter Time in 24 hour format"/>
    <add key="IncompleteCSS" value="Incomplete"/>
    <add key="IncompleteColour" value="red"/>
    <add key="SCode1" value="Please complete fields highlighted in Red if available for Data to be classified as complete"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/WP3WDB" value="25549;True;3660;1;-8588143903774327667"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
  </appSettings>
  <connectionStrings>
    <add name="cope4dbconn" connectionString="Database=cope_wp_four;Data Source=localhost;Connect Timeout=30;User Id=Cop2xl2Wsqsk;Password=j3G%sR9Qlw9R5; pooling=true;" providerName="MySql.Data.MySqlClient"/>
    <add name="cope4usrconn" connectionString="Database=copewpfourother;Data Source=localhost;Connect Timeout=30;User Id=Cop2xl2Wsqsk;Password=j3G%sR9Qlw9R5; pooling=true;" providerName="MySql.Data.MySqlClient"/>
    <add name="cope4ranconn" connectionString="Database=copewpfourrandom;Data Source=localhost;Connect Timeout=30;User Id=Cop2xl2Wsqsk;Password=j3G%sR9Qlw9R5; pooling=true;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <globalization uiCulture="en-GB" culture="en-GB"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>