{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}{{ location }} Report: Procurement Pairs - Administration{% endblock %}
{% block page_header %}
    Procurement Pairs
    <small>REPORT</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:admin_index' %}">Administration</a></li>
    <li class="active">Report: Procurement Pairs</li>
{% endblock %}

{% block content %}
{#    CSS Hack here because Bootstrap hides the badges on print view #}
    <style>
        @media print {
            .badge {
                padding: 2px 6px;
                border: 1px solid #000;
                margin-right: 3em;
            }
        }
    </style>
    <h2>Summary</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            Total number of Donors randomised
            <span class="badge">{{ summary.full_count }}</span>
        </li>
        {% for key, value in summary.centres.items %}
        <li class="list-group-item">
            {{ value.code }} {{ value.name }}
            <span class="badge">{{ value.count }}</span>
        </li>
        {% endfor %}
    </ul>

    <h2>Listing</h2>
    <table class="table table-condensed">
    <thead>
    <tr>
        <th>Donor ID</th>
        <th>Donor Hospital</th>
        <th>Randomisation Datetime</th>
    </tr>
    </thead>
    <tbody>
    {% for row in listing %}
        <tr>
            <td>{{ row.trial_id }}</td>
            <td>{{ row.retrieval_team.based_at }}</td>
            <td>{{ row.randomisation.allocated_on }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
