{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_header %}Welcome to the COPE DB Online Trials System{% endblock %}

{% block content %}
    <p>This online system is here to support activities for the COPE Consortium clinical trials. </p>

    <h2>WP4: Compare</h2>
    <p>This section supports activities on Work Package 4: Compare (WP4) which is a Kidney preservation trial.

    <h3>Actions available</h3>
    <ul class="list-group">
        <a href="{% url 'wp4:compare:procurement_list' %}" class="list-group-item">Procurement Forms</a>
        <a href="{% url 'wp4:compare:transplantation_list' %}" class="list-group-item">Transplantation Forms</a>
        <a href="{% url 'wp4:samples:home' %}" class="list-group-item">Sample Collection</a>
        <a href="{% url 'wp4:followup:index' %}" class="list-group-item">Follow Ups Forms</a>
{#        <a href="{% url 'wp4:adverse_event:list' %}" class="list-group-item">Adverse Event Forms</a>#}
        <a href="{% url 'wp4:index' %}" class="list-group-item list-group-item-info">WP4: Home</a>
    </ul>
{% endblock %}
