{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Procurement{% endblock %}
{% block page_header %}Procurement{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>New Case</h2>

            <form method="post" action="{% url 'compare:procurement_list' %}" class="form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Start a new case</h3>
                    </div>
                    <div class="panel-body">
                        {% if donor_form.non_field_errors %}
                            <ul class="list-group">
                                {% for error in donor_form.non_field_errors %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% crispy donor_form %}
                    </div>
                    <div class="panel-footer"><input type="submit" class="btn btn-success" value="Start new case"/>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-6">
            <h2>Existing Cases
                <small>({{ donors|length }} case{% if donors|length != 1 %}s{% endif %})</small>
            </h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Trial ID</th>
                    <th>Number</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
                </thead>
                <tbody>
                {% if donors|length > 0 %}
                    {% for donor in donors %}
                        <tr>
                            <td><a href="{% url 'compare:procurement_detail' donor.id %}"
                                   class="btn btn-xs btn-primary">{{ donor.trial_id }}</a></td>
                            <td>{{ donor.number }}</td>
                            <td>{{ donor.age }}</td>
                            <td>{{ donor.get_gender_display }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td rowspan="4">No existing cases available. Contact us if you think this is in error.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
