{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Case {{ donor.trial_id }} - Procurement{% endblock %}
{% block page_header %}Procurement <small>Case: {{ donor.trial_id }}</small>{% endblock %}

{% block content %}
    <script type="text/javascript">
        function highlightTransplantableField(left) {
            var side = (left ? "left" : "right");
            $('#' + side + 'kidneytab').tab('show');
            var formgroup = $('input:radio[name=' + side + '-organ-transplantable]').parents('div.form-group');
            var buttons = $('input:radio[name=' + side + '-organ-transplantable]').parents('label');
            // formgroup.fadeTo(1000, 0.5, function() { formgroup.fadeTo(800, 1); });
            formgroup.addClass('has-warning');
            buttons.removeClass('btn-default').addClass('btn-warning');
            formgroup.fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();
        }

        function clickTransplantable(target, left) {
            $(target).toggleClass('btn-default', true).toggleClass('btn-warning', false);
            $(target).siblings('label').toggleClass('btn-default', true).toggleClass('btn-warning', false);
            $(target).parents('div.form-group').toggleClass('has-warning', false);
            updateRandomiseKidney($(target).children('input:radio').val() == 'True', left);
        }

        function clickRecipients(target) {
            updateRandomiseRecipients($(target).children('input:radio').val() < 3);
        }

        function updateRandomiseKidney(yes, left) {
            var side = (left ? "left" : "right");
            if (yes) {
                $('#randomise-' + side + '-kidney')
                        .toggleClass('list-group-item-danger', false)
                        .toggleClass('list-group-item-success', true);
                $('#randomise-' + side + '-kidney').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', true)
                        .toggleClass('glyphicon-thumbs-down', false);
            } else {
                $('#randomise-' + side + '-kidney')
                        .toggleClass('list-group-item-danger', true)
                        .toggleClass('list-group-item-success', false);
                $('#randomise-' + side + '-kidney').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', false)
                        .toggleClass('glyphicon-thumbs-down', true);
            }
            updateRandomiseButton();
        }

        function updateRandomiseRecipients(yes) {
            if (yes) {
                $('#randomise-recipients')
                        .toggleClass('list-group-item-danger', false)
                        .toggleClass('list-group-item-success', true);
                $('#randomise-recipients').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', true)
                        .toggleClass('glyphicon-thumbs-down', false);
            } else {
                $('#randomise-recipients')
                        .toggleClass('list-group-item-danger', true)
                        .toggleClass('list-group-item-success', false);
                $('#randomise-recipients').find('i.glyphicon')
                        .toggleClass('glyphicon-thumbs-up', false)
                        .toggleClass('glyphicon-thumbs-down', true);
            }
            updateRandomiseButton();
        }

        function updateRandomiseButton() {
            var count = $('#eligibility-list').find('.glyphicon-thumbs-up').length;
            if (count == 5 && {% if left_organ_form.preservation.value == None %}true{% else %}false{% endif %}) {
                $('#randomise-action').attr("disabled", false);
            } else {
                $('#randomise-action').attr("disabled", true);
            }
        }

        function toggleModalContent(display) {
            if (display) {
                $('#modal-progressbar').delay(1000).slideUp('slow');
                $('#modal-content').delay(1000).slideDown('slow');
            } else {
                $('#modal-content').hide();
                $('#modal-progressbar').show();
            }
        }

        HospitalWidget = {
            getValue: function (choice) {
                // TODO: Secure this input so that it doesn't execute the contents of value!
                var value = choice.data('value');

                if (value == 'create') {
                    choice.html(this.input.val())

                    $.ajax(this.autocomplete.url, {
                        async: false,
                        type: 'post',
                        data: {
                            'name': this.input.val(),
                        },
                        success: function (text, jqXHR, textStatus) {
                            value = text;
                        }
                    });

                    choice.data('value', value);
                }

                return value;
            }
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            // Set initial states
            updateRandomiseKidney({% if left_organ_form.transplantable.value %}true{% else %}false{% endif %}, true);
            updateRandomiseKidney({% if right_organ_form.transplantable.value %}true{% else %}false{% endif %}, false);
            updateRandomiseRecipients(
                    {% if donor_form.multiple_recipients.value != False %}true{% else %}false{% endif %}
            );
            updateRandomiseButton();
            toggleModalContent(false);

            // Apply update functions
            $('input:radio[name=left-organ-transplantable]').parents('label').on('click', function () {
                clickTransplantable(this, true)
            });
            $('input:radio[name=right-organ-transplantable]').parents('label').on('click', function () {
                clickTransplantable(this, false)
            });
            $('input:radio[name=donor-multiple_recipients]').parents('label').on('click', function () {
                clickRecipients(this)
            });

            $('#button_db1').on('click', function () {
                ajaxGet('/sample/type/1', function (content) {
                    //onSuccess
                    $('#modal-content').html(content);
                    toggleModalContent(true);
                })
            });
            $('#button_db2').on('click', function () {

            });
            $('#button_du1').on('click', function () {

            });
            $('#button_du2').on('click', function () {

            });

            $('#myModal').on('hidden.bs.modal', function (e) {
                toggleModalContent(false);
            })


            $(document).bind('yourlabsWidgetReady', function () {
                // Instantiate decks with RemoteAutocompleteWidget as override for all widgets with
                // autocomplete 'remote'.
                $('body').on('initialize', '.autocomplete-light-widget[data-widget-bootstrap=hospital-widget]', function () {
                    $(this).yourlabsWidget(HospitalWidget);
                });
            });
        });
    </script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="modal-content">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-body" id="modal-progressbar">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Loading</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <form method="post" action="{% url 'compare:procurement_detail' pk=donor.id %}" class="form-horizontal">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary" style="margin-top: 10px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">To be eligible for this trial...</h3>
                    </div>
                    <ul class="list-group" id="eligibility-list">
                        <li class="list-group-item list-group-item-success">DCD III <span class="badge"><i
                                class="glyphicon glyphicon-thumbs-up"></i></span></li>
                        <li class="list-group-item list-group-item-success">50 years old or more
                            (is {{ donor.age }})<span class="badge"><i
                                    class="glyphicon glyphicon-thumbs-up"></i></span></li>
                        <li class="list-group-item list-group-item-danger" id="randomise-left-kidney"><a
                                href="javascript:highlightTransplantableField(true)">Left Kidney
                            transplantable</a> <span
                                class="badge"><i
                                class="glyphicon glyphicon-thumbs-down"></i></span></li>
                        <li class="list-group-item list-group-item-danger" id="randomise-right-kidney"><a
                                href="javascript:highlightTransplantableField()">Right Kidney transplantable</a> <span
                                class="badge"><i
                                class="glyphicon glyphicon-thumbs-down"></i></span></li>
                        <li class="list-group-item list-group-item-danger" id="randomise-recipients">Two separate
                            recipients
                            <span class="badge"><i class="glyphicon glyphicon-thumbs-down"></i></span>

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default {% if donor_form.multiple_recipients.value == False %}active{% endif %}">
                                    <input type="radio" name="donor-multiple_recipients"
                                           id="id_donor-multiple_recipients_1" value="3" autocomplete="off"
                                           {% if donor_form.multiple_recipients.value == False %}checked{% endif %}>No
                                </label>
                                <label class="btn btn-default {% if donor_form.multiple_recipients.value == True %}active{% endif %}">
                                    <input type="radio" name="donor-multiple_recipients"
                                           id="id_donor-multiple_recipients_2" value="2" autocomplete="off"
                                           {% if donor_form.multiple_recipients.value == True %}checked{% endif %}>Yes
                                </label>
                                <label class="btn btn-default {% if donor_form.multiple_recipients.value == None %}active{% endif %}">
                                    <input type="radio" name="donor-multiple_recipients"
                                           id="id_donor-multiple_recipients_3" value="1" autocomplete="off"
                                           {% if donor_form.multiple_recipients.value == None %}checked{% endif %}>Unknown
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="panel-footer">
                        <button id="randomise-action" type="submit" name="randomise" class="btn btn-danger" disabled>
                            {% if donor.left_kidney.preservation == 1 or donor.right_kidney.preservation == 1 %}Already
                                Randomised{% else %}Randomise{% endif %}
                        </button>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donor</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Age: {{ donor.age }}
                        </li>
                        <li class="list-group-item">
                            NHS Number: {{ donor.number }}
                        </li>
                        <li class="list-group-item">
                            Donor hospital: {{ donor.retrieval_hospital.name }}
                        </li>
                        <li class="list-group-item">
                            Transplant co-ordinator:{{ donor.transplant_coordinator.full_name }}<br>
                            <i class="glyphicon glyphicon-phone"></i>: {{ donor.transplant_coordinator.telephone }}
                        </li>
                    </ul>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Left Kidney</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Organ ID: {{ donor.left_kidney.trial_id }}
                        </li>
                        <li class="list-group-item">
                            Preservation: {{ donor.left_kidney.get_preservation_display }}
                        </li>
                    </ul>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Right Kidney</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Organ ID: {{ donor.right_kidney.trial_id }}
                        </li>
                        <li class="list-group-item">
                            Preservation: {{ donor.right_kidney.get_preservation_display }}
                        </li>
                    </ul>
                </div>

                <p class="btn-group btn-group-lg">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                    <input type="submit" class="btn btn-warning" value="Validate"/>
                </p>
            </div>

            <!-- Tab panes -->
            <div class="tab-content col-md-9">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation">
                        <a href="#leftkidney" aria-controls="leftkidney" role="tab" data-toggle="tab"
                           id="leftkidneytab">Left Kidney
                            {% if left_organ_form.errors|length > 0 %}
                                <span class="label label-danger">{{ left_organ_form.errors|length }}</span>
                            {% endif %}</a>
                    </li>
                    <li role="presentation" class="active"><a href="#donor" aria-controls="donor" role="tab"
                                                              data-toggle="tab">Donor
                        {% if donor_form.errors|length > 0 %}
                            <span class="label label-danger">{{ donor_form.errors|length }}</span>
                        {% endif %}</a>
                    </li>
                    <li role="presentation">
                        <a href="#rightkidney" aria-controls="rightkidney" role="tab" data-toggle="tab"
                           id="rightkidneytab">Right Kidney
                            {% if right_organ_form.errors|length > 0 %}
                                <span class="label label-danger">{{ right_organ_form.errors|length }}</span>
                            {% endif %}</a>
                    </li>
                </ul>
                <div role="tabpanel" class="tab-pane fade in active" id="donor">
                    <h2 class="sr-only visible-print">Donor</h2>
                    {% crispy donor_form %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="leftkidney">
                    <h2 class="sr-only visible-print">Left Kidney</h2>
                    {% crispy left_organ_form %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="rightkidney">
                    <h2 class="sr-only visible-print">Right Kidney</h2>
                    {% crispy right_organ_form %}
                </div>
            </div>
            {% csrf_token %}
        </div>
        {#    TODO: Add navbar at the bottom of the page with the action buttons on them #}
    </form>
{% endblock %}


