{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Transplantation{% endblock %}
{% block page_header %}Transplantation - Case: {{ recipient.trial_id }}{% endblock %}

{% block content %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event) {
        });
    </script>

    <form method="post" action="{% url 'compare:transplantation_detail' pk=recipient.id %}" class="form-horizontal">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recipient</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Age: {{ recipient.age_from_dob }}
                        </li>
                        <li class="list-group-item">
                            NHS Number: {{ recipient.number }}
                        </li>
                        <li class="list-group-item">
                            Transplant hospital: {{ recipient.transplant_hospital.name }}
                        </li>
                        <li class="list-group-item">
                            Transplant co-ordinator:{{ recipient.transplant_coordinator.full_name }}<br>
                            <i class="glyphicon glyphicon-phone"></i>: {{ recipient.transplant_coordinator.telephone }}
                        </li>
                    </ul>
                </div>

                <p class="btn-group btn-group-lg">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                    <input type="submit" class="btn btn-warning" value="Validate"/>
                </p>
            </div>

            <div class="col-md-9">
                <h2 class="sr-only visible-print">Donor</h2>
                {{ recipient_form.errors }}
                {% crispy recipient_form %}
            </div>
            {% csrf_token %}
        </div>
        {#    TODO: Add navbar at the bottom of the page with the action buttons on them #}
    </form>
{% endblock %}


