<!DOCTYPE html>
{% load staticfiles l10n i18n %}
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block page_title %}Home{% endblock %} : COPE - Compare</title>

    <link href="{% static 'css/cope.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<form action="{% url 'set_language' %}" method="post" id="language-form" name="language-form">
    {% csrf_token %}
    <input type="hidden" name="language" id="language" value="" />
    {% with request.get_full_path as current_url %}
    <input type="hidden" name="next" id="next" value="{{ current_url|cut:"/en-gb"|cut:"/fr-be"|cut:"/nl-nl" }}" />
    {% endwith %}
</form>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'compare:home' %}">COPE DB - WP4:Compare</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{% url 'compare:home' %}">Home</a></li>
                <li><a href="{% url 'compare:procurement-blank' %}">Procurement</a></li>
                <li><a href="#">Transplantation</a></li>
                <li><a href="#">Administration</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i><span class="visible-xs-block"> About Me</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'auth:django.contrib.auth.views.login' %}">Login</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i><span
                        class="visible-xs-block"> Contact Us</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                       title="Language">
                        <i class="glyphicon glyphicon-globe"></i><span class="visible-xs-block"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <li {% if lang.0 == LANGUAGE_CODE %}class="active"{% endif %}>
                                {% with "img/locale/"|add:lang.0|add:".png" as lang_flag_url %}
                                    <a href="javascript:set_language('{{ lang.0 }}')">
                                        <img src="{% static lang_flag_url %}"> {{ lang.1 }}
                                    </a>
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'auth:django.contrib.auth.views.logout' %}" title="Logout"><i
                        class="glyphicon glyphicon-off"></i><span class="visible-xs-block"> Logout</span></a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i><span
                        class="visible-xs-block"> Contact Us</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                       title="Language">
                        <i class="glyphicon glyphicon-globe"></i><span class="visible-xs-block"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <li {% if lang.0 == LANGUAGE_CODE %}class="active"{% endif %}>
                                {% with "img/locale/"|add:lang.0|add:".png" as lang_flag_url %}
                                    <a href="javascript:set_language('{{ lang.0 }}')"><img
                                            src="{% static lang_flag_url %}"> {{ lang.1 }}
                                        ({{ lang.0 }})</a>
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <a href="{% url 'auth:django.contrib.auth.views.login' %}" class="btn btn-default navbar-btn navbar-right">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="page-header">{% block page_header %}Dashboard{% endblock %}</h1>
    {% block content %}{% endblock %}
    <hr>
    <footer>
        <p>COPE DB v0.1.5 (July 2015) : &copy; 2015 <a href="http://cope.nds.ox.ac.uk/index.html">COPE
            Consortium</a></p>
        <ul class="list-unstyled list-inline">
            <li class=""><img src="{% static 'img/cope-logo.png' %}" style="height: 50px;"></li>
            <li class=""><img src="{% static 'img/ox_brand_cmyk_pos_rect.svg' %}" style="height: 50px;"></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/min/cope-min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
<script>
    function set_language(code) {
        $('#language').val(code);
        $('#language-form').submit();
    }
</script>
</body>
</html>
