{% extends "base_site.html" %}
{% load l10n i18n theme_tags %}

{% block page_title %}Samples{% endblock %}
{% block page_header %}Samples - Events{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:samples:index' %}">Samples</a></li>
    <li class="active">Events</li>
{% endblock %}

{% block content %}
    {% if event_list %}
        {% include 'includes/paginator.html' %}
        <table class="table table-responsive table-condensed">
            <thead>
            <tr>
                <th>ID {% include 'includes/sort_column.html' with sort_by_field='id' default_sort=True %}</th>
                <th>Type {% include 'includes/sort_column.html' with sort_by_field='type' %}</th>
                <th>Name {% include 'includes/sort_column.html' with sort_by_field='name' %}</th>
                <th>Taken at</th>

                <th>Barcode</th>
                <th>Collected</th>
                <th>Trial ID</th>
            </tr>
            </thead>
            <tbody>
            {% for event in event_list %}
                <tr>
                    <td>
                        {% if perms.samples.change_event %}
                            <a href="{% url 'wp4:samples:event_detail' pk=event.pk %}" class="btn btn-default btn-xs"><i
                                    title="edit" class="glyphicon glyphicon-eye-open"></i></a>
                            <a href="{% url 'wp4:samples:event_update' pk=event.pk %}" class="btn btn-primary btn-xs"><i
                                    title="edit" class="glyphicon glyphicon-edit"></i> {{ event.id }}</a>
                        {% elif perms.samples.view_event %}
                            <a href="{% url 'wp4:samples:event_detail' pk=event.pk %}" class="btn btn-default btn-xs"><i
                                    title="edit" class="glyphicon glyphicon-eye-open"></i> {{ event.id }}</a>
                        {% else %}
                            {{ event.id }}
                        {% endif %}
                    </td>
                    <td>{{ event.get_type_display }}</td>
                    <td>{{ event.get_name_display }}</td>
                    <td>{{ event.taken_at }}</td>

                    {% if event.type == 1 %}{# Blood #}
                        {% with event.bloodsample_set.all.0 as sample %}
                            <td>{{ sample.barcode|default:"Not recorded" }}</td>
                            <td class="{{ sample.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                                {{ sample.collected|yesno|capfirst }}
                            </td>
                            <td>{{ sample.person.trial_id }}</td>
                        {% endwith %}


                        {% elif event.type == 2 %}{# Urine #}
                        {% with event.urinesample_set.all.0 as sample %}
                            <td>{{ sample.barcode|default:"Not recorded" }}</td>
                            <td class="{{ sample.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                                {{ sample.collected|yesno|capfirst }}
                            </td>
                            <td>{{ sample.person.trial_id }}</td>
                        {% endwith %}


                        {% elif event.type == 3 %}{# Perfusate #}
                        {% with event.perfusatesample_set.all.0 as sample %}
                            <td>{{ sample.barcode|default:"Not recorded" }}</td>
                            <td class="{{ sample.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                                {{ sample.collected|yesno|capfirst }}
                            </td>
                            <td>{{ sample.organ.trial_id }}</td>
                        {% endwith %}


                        {% elif event.type == 4 %}{# Tissue #}
                        {% with event.tissuesample_set.all.0 as sample %}
                            <td>{{ sample.barcode|default:"Not recorded" }}</td>
                            <td class="{{ sample.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                                {{ sample.collected|yesno|capfirst }}
                            </td>
                            <td>{{ sample.organ.trial_id }}</td>
                        {% endwith %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'includes/paginator.html' %}

    {% else %}
        <p>No events are available.</p>
    {% endif %}
{% endblock %}
