{% extends "base_site.html" %}
{% load l10n i18n %}
{% load theme_tags %}

{% block page_title %}Samples{% endblock %}
{% block page_header %}Samples - Events
    <small>Event #{{ event.id }}</small>{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:samples:index' %}">Samples</a></li>
    <li><a href="{% url 'wp4:samples:event_list' %}">Events</a></li>
    <li class="active">View Event #{{ event.id }}</li>
{% endblock %}


{% block content %}
{% include "samples/event_detail_panel.html" %}
{% endblock %}