{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Month 6 - Follow Up{% endblock %}
{% block page_header %}
    Month 6 - Follow Up
    <small>Listing</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:followup:index' %}">Follow Up</a></li>
    <li class="active">Month 6</li>
{% endblock %}

{% block content %}
    {% if followup6m_list %}
    <h2>Follow Up listing
        <small>{{ followup6m_list|length }} events on this page</small>
    </h2>

    {% include 'includes/paginator.html' %}
    <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>
                Trial ID
                {% if request.GET.order_by == "organ__trial_id" and request.GET.ordering == "asc" or request.GET.order_by == none %}
                    <a href="?order_by=organ__trial_id&ordering=desc&page={{ request.GET.page }}&q={{ request.GET.q }}"><i class="text-success glyphicon glyphicon glyphicon-sort-by-attributes"></i></a>
                {% elif request.GET.order_by == "organ__trial_id" and request.GET.ordering == "desc" %}
                    <a href="?page={{ request.GET.page }}&q={{ request.GET.q }}"><i class="text-success glyphicon glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                {% else %}
                    <a href="?order_by=organ__trial_id&ordering=asc&page={{ request.GET.page }}&q={{ request.GET.q }}"><i class="glyphicon glyphicon glyphicon-sort"></i></a>
                {% endif %}
            </th>
            <th>
                Visit Date
                {% if request.GET.order_by == "start_date" and request.GET.ordering == "asc" %}
                    <a href="?order_by=start_date&ordering=desc&page={{ request.GET.page }}&q={{ request.GET.q }}"><i class="text-success glyphicon glyphicon glyphicon-sort-by-attributes"></i></a>
                {% elif request.GET.order_by == "start_date" and request.GET.ordering == "desc" %}
                    <a href="?page={{ request.GET.page }}&q={{ request.GET.q }}"><i class="text-success glyphicon glyphicon glyphicon-sort-by-attributes-alt"></i></a>
                {% else %}
                    <a href="?order_by=start_date&ordering=asc&page={{ request.GET.page }}&q={{ request.GET.q }}"><i class="glyphicon glyphicon glyphicon-sort"></i></a>
                {% endif %}
            </th>
            <th title="Started in Window?"></th>
            <th>Start by</th>
            <th>Complete by</th>
            <th title="Has graft failed?">Fail</th>
            <th title="Was graft removed?">Remove</th>
            <th title="Is the Recipient still alive?">Alive</th>
            <th title="Followup Location">Hospital</th>
        </tr>
        </thead>
        <tbody>
        {% for follow in followup6m_list %}
            <tr>
                <td>
                    {% if perms.followups.change_followup6m %}
                    <a href="{% url 'wp4:followup:month6_update' pk=follow.pk %}" class="btn btn-default btn-xs"><i
                        title="edit" class="glyphicon glyphicon-edit"></i> {{ follow.id }}</a>
                    {% elif perms.followups.view_followup6m %}
                    <a href="{% url 'wp4:followup:month6_detail' pk=follow.pk %}" class="btn btn-default btn-xs"><i
                        title="edit" class="glyphicon glyphicon-eye-open"></i> {{ follow.id }}</a>
                    {% else %}
                        {{ follow.id }}
                    {% endif %}
                </td>
                <td>{{ follow.organ.trial_id }}</td>
                <td>{{ follow.start_date }}</td>
                <td>
                    {% if follow.started_within_window %}
                        <i class="glyphicon glyphicon-ok text-success" title="Follow Up started within window"></i>
                    {% elif follow.start_date < follow.organ.followup_6m_begin_by %}
                        <i class="glyphicon glyphicon-warning-sign text-warning" title="Follow Up started EARLY"></i>
                    {% elif follow.start_date > follow.organ.followup_6m_completed_by %}
                        <i class="glyphicon glyphicon-warning-sign text-warning" title="Follow Up started LATE"></i>
                    {% endif %}
                </td>
                <td class="text-muted">{{ follow.organ.followup_6m_begin_by }}</td>
                <td class="text-muted">{{ follow.organ.followup_6m_completed_by }}</td>
                <td>{{ follow.has_graft_failed|yesno|capfirst }}</td>
                <td>{{ follow.was_graft_removed|yesno|capfirst }}</td>
                <td>{{ follow.is_recipient_alive|yesno|capfirst }}</td>
                <td>{{ follow.organ.recipient.allocation.transplant_hospital }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/paginator.html' %}
    {% else %}
        <p>No Month 6 Follow Ups are available</p>
    {% endif %}

{% endblock %}
