{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block page_title %}Initial (Days 1-7) - Follow Up{% endblock %}
{% block page_header %}
    Initial (Days 1-7) - Follow Up
    <small>Listing</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:followup:index' %}">Follow Up</a></li>
    <li class="active">Initial</li>
{% endblock %}

{% block content %}
    {% if followupinitial_list %}
    <h2>Follow Up listing
        <small>{{ followupinitial_list|length }} events on this page</small>
    </h2>

    {% include 'includes/paginator.html' %}
    <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>Trial ID</th>
            <th>Visit Date</th>
            <th>Graft Failure</th>
        </tr>
        </thead>
        <tbody>
        {% for follow in followupinitial_list %}
            <tr>
                <td><a href="{% url 'wp4:followup:initial_update' pk=follow.pk %}" class="btn btn-default btn-xs"><i
                        title="edit" class="glyphicon glyphicon-edit"></i></a> <a
                        href="{% url 'wp4:followup:initial_detail' pk=follow.pk %}">{{ follow.id }}</a></td>
                <td>{{ follow.organ.trial_id }}</td>
                <td>{{ follow.start_date }}</td>
                <td>{{ follow.graft_failure|yesno|capfirst }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/paginator.html' %}
    {% else %}
        <p>No Initial Follow Ups are available</p>
    {% endif %}

    <form method="post" class="" id="followup_form">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% crispy form %}
        <button type="submit" class="btn btn-default">Add New Initial Follow Up</button>
    </form>

{% endblock %}
