{% extends "base_site.html" %}
{% load l10n i18n theme_tags %}

{% block page_title %}Initial (Days 1-7) - Follow Up{% endblock %}
{% block page_header %}
    Initial (Days 1-7) - Follow Up
    <small>Case ID: {{ followupinitial.trial_id|default:"New" }}</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:followup:index' %}">Follow Up</a></li>
    <li><a href="{% url 'wp4:followup:initial_list' %}">Initial</a></li>
    <li class="active">View Report</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <dl class="">
{#                <dt>{% get_verbose_field_name followupinitial "organ" %}</dt>#}
{#                <dd>{{ followupinitial.organ }}</dd>#}
                <dt>{% get_verbose_field_name followupinitial "start_date" %}</dt>
                <dd>{{ followupinitial.start_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "graft_failure" %}</dt>
                <dd>{{ followupinitial.graft_failure|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "graft_failure_date" %}</dt>
                <dd>{{ followupinitial.graft_failure_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "graft_failure_type" %}</dt>
                <dd>{{ followupinitial.get_graft_failure_type_display }}</dd>
                <dt>{% get_verbose_field_name followupinitial "graft_failure_type_other" %}</dt>
                <dd>{{ followupinitial.graft_failure_type_other }}</dd>
                <dt>{% get_verbose_field_name followupinitial "graft_removal" %}</dt>
                <dd>{{ followupinitial.graft_removal|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "graft_removal_date" %}</dt>
                <dd>{{ followupinitial.graft_removal_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_unit" %}</dt>
                <dd>{{ followupinitial.get_serum_creatinine_unit_display }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_1" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_1|default_if_none:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_2" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_2|default_if_none:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_3" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_3|default_if_none:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_4" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_4|default_if_none:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_5" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_5|default_if_none:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_6" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_6|default_if_none:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "serum_creatinine_7" %}</dt>
                <dd>{{ followupinitial.serum_creatinine_7|default_if_none:"Unanswered" }}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="">
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_1" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_1|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_2" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_2|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_3" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_3|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_4" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_4|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_5" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_5|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_6" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_6|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_requirement_7" %}</dt>
                <dd>{{ followupinitial.dialysis_requirement_7|yesno|default_if_none:"unanswered"|capfirst }}</dd>

                <dt>{% get_verbose_field_name followupinitial "dialysis_type" %}</dt>
                <dd>{{ followupinitial.get_dialysis_type_display }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_cause" %}</dt>
                <dd>{{ followupinitial.get_dialysis_cause_display }}</dd>
                <dt>{% get_verbose_field_name followupinitial "dialysis_cause_other" %}</dt>
                <dd>{{ followupinitial.dialysis_cause_other }}</dd>
                <dt>{% get_verbose_field_name followupinitial "hla_mismatch_a" %}</dt>
                <dd>{{ followupinitial.hla_mismatch_a|default:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "hla_mismatch_b" %}</dt>
                <dd>{{ followupinitial.hla_mismatch_b|default:"Unanswered" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "hla_mismatch_dr" %}</dt>
                <dd>{{ followupinitial.hla_mismatch_dr|default:"Unanswered" }}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="">
                <dt>{% get_verbose_field_name followupinitial "induction_therapy" %}</dt>
                <dd>{{ followupinitial.get_induction_therapy_display }}</dd>

                <dt>{% get_verbose_field_name followupinitial "immunosuppression_1" %}</dt>
                <dd>{{ followupinitial.immunosuppression_1|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_2" %}</dt>
                <dd>{{ followupinitial.immunosuppression_2|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_3" %}</dt>
                <dd>{{ followupinitial.immunosuppression_3|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_4" %}</dt>
                <dd>{{ followupinitial.immunosuppression_4|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_5" %}</dt>
                <dd>{{ followupinitial.immunosuppression_5|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_6" %}</dt>
                <dd>{{ followupinitial.immunosuppression_6|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_7" %}</dt>
                <dd>{{ followupinitial.immunosuppression_7|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "immunosuppression_other" %}</dt>
                <dd>{{ followupinitial.immunosuppression_other }}</dd>

                <dt>{% get_verbose_field_name followupinitial "rejection" %}</dt>
                <dd>{{ followupinitial.rejection|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "rejection_prednisolone" %}</dt>
                <dd>{{ followupinitial.rejection_prednisolone|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "rejection_drug" %}</dt>
                <dd>{{ followupinitial.rejection_drug|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "rejection_drug_other" %}</dt>
                <dd>{{ followupinitial.rejection_drug_other }}</dd>
                <dt>{% get_verbose_field_name followupinitial "rejection_biopsy" %}</dt>
                <dd>{{ followupinitial.rejection_biopsy|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "calcineurin" %}</dt>
                <dd>{{ followupinitial.calcineurin|yesno|default_if_none:"unanswered"|capfirst }}</dd>
                <dt>{% get_verbose_field_name followupinitial "discharge_date" %}</dt>
                <dd>{{ followupinitial.discharge_date|date:"D d M Y" }}</dd>
                <dt>{% get_verbose_field_name followupinitial "notes" %}</dt>
                <dd>{{ followupinitial.notes }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}


{% block footer_nav %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-right">
                <a href="{% url "wp4:followup:initial_update" pk=followupinitial.pk %}" class="btn btn-primary navbar-btn"
                   id="nav_button_edit">Edit</a>
            </div>
        </div>
    </nav>
{% endblock %}