{% load staticfiles l10n i18n theme_tags tz %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">COPE DB Online Trials System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            {# ================================================== LOGGED IN =================================================== #}
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    {% url 'home' as url_home %}
                    <li class="{% active request url_home %}" id="navbar-menu-home"><a href="{{ url_home }}">Home</a>
                    </li>
                    <li class="dropdown" id="navbar-menu-wp4">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">WP4: Compare <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            {% url 'wp4:index' as url_wp4index %}
                            <li class="{% active request url_wp4index %}"><a
                                    href="{{ url_wp4index }}">WP4 Home</a>
                            </li>
                            <li role="separator" class="divider"></li>

                            {% if perms.compare.add_donor %}
                                {% url 'wp4:compare:procurement_list' as url_procurement %}
                                <li class="{% active request url_procurement %}"><a
                                        href="{{ url_procurement }}">Procurement</a>
                                </li>
                            {% endif %}

                            {% if perms.compare.add_recipient %}
                                {% url 'wp4:compare:transplantation_list' as url_transplantation %}
                                <li class="{% active request url_transplantation %}"><a
                                        href="{{ url_transplantation }}">Transplantation</a>
                                </li>
                            {% endif %}

                            {% if perms.samples.change_worksheet %}
                                {% url 'wp4:samples:home' as url_samples %}
                                <li class="{% active request url_samples %}"><a href="{{ url_samples }}">Samples</a>
                                </li>
                            {% endif %}

                            {% url 'wp4:adverse_event:list' as url_adverseevents %}
                            <li class="{% active request url_adverseevents %}"><a href="{{ url_adverseevents }}">Adverse Events</a></li>

                            {% if perms.followup.change_intial %}
                                {% url 'wp4:followup:index' as url_followup %}
{#                                <li class="{% active request url_followup %}"><a href="{{ url_followup }}">Follow Up</a>#}
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    {% if perms.is_staff %}
                        {% url 'admin:index' as url_admin_home %}
                        <li id="navbar-menu-admin"><a href="{{ url_admin_home }}"><i
                                class="glyphicon glyphicon-briefcase"></i></a></li>
                    {% endif %}

                    <li class="dropdown" id="navbar-menu-aboutme">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i><span class="visible-xs-block"> About Me</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">About me</li>
                            <li><a href="#">Name: {{ user.profile.full_name }}</a></li>
                            <li><a href="#">Job{{ user.profile.jobs.all|pluralize }}:
                                {% for job in user.profile.jobs.all %}
                                    {{ job.description }}, {% endfor %}</a></li>
                            <li><a href="#">Username: {{ user.username }}</a></li>
                            {% get_current_timezone as TIME_ZONE %}
                            <li><a href="#">Timezone: {{ TIME_ZONE }}</a></li>
                            <li class="dropdown-header">Actions</li>
                            <li><a href="{% url 'admin:password_change' %}">Change Password</a></li>
                        </ul>
                    </li>

                    {#                TODO: Implement the contact us #}
                    {#                    <li><a href="#" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i><span#}
                    {#                            class="visible-xs-block"> Contact Us</span></a></li>#}


                    <li class="dropdown" id="navbar-menu-language">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                           title="Language">
                            <i class="glyphicon glyphicon-globe"></i><span class="visible-xs-block"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                                <li {% if lang.0 == LANGUAGE_CODE %}class="active"{% endif %}>
                                    {% with "img/locale/"|add:lang.0|add:".png" as lang_flag_url %}
                                        <a href="javascript:set_language('{{ lang.0 }}')">
                                            <img src="{% static lang_flag_url %}"> {{ lang.1|localize }}
                                        </a>
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li id="navbar-menu-logout"><a href="{% url 'logout' %}?next=/" title="Logout"><i
                            class="glyphicon glyphicon-off"></i><span class="visible-xs-block"> Logout</span></a></li>
                </ul>


                {# ============================================== NOT LOGGED IN =================================================== #}
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    {#                    <li><a href="#" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i><span#}
                    {#                            class="visible-xs-block"> Contact Us</span></a></li>#}
                    <li class="dropdown" id="navbar-menu-language">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                           title="Language">
                            <i class="glyphicon glyphicon-globe"></i><span class="visible-xs-block"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                                <li {% if lang.0 == LANGUAGE_CODE %}class="active"{% endif %}>
                                    {% with "img/locale/"|add:lang.0|add:".png" as lang_flag_url %}
                                        <a href="javascript:set_language('{{ lang.0 }}')"><img
                                                src="{% static lang_flag_url %}"> {{ lang.1 }}
                                            ({{ lang.0 }})</a>
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <a href="{% url 'login' %}" class="btn btn-default navbar-btn navbar-right">Login</a>
            {% endif %}


        </div>
    </div>
</nav>
