{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Health Economics{% endblock %}
{% block page_header %}Health Economics{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Health Economics</li>
{% endblock %}

{% block content %}
    <h3>Actions available</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Health Economics: Home</li>
        {#  You can't access this page without perms.health_economics.add_qualityoflife  #}
        <a href="{% url 'wp4:health_economics:list' %}" class="list-group-item">Quality of Life Forms</a>
        {% if perms.health_economics.add_resourcelog %}
{#        <a href="{% url 'wp4:health_economics:list' %}" class="list-group-item">Resource Logs</a>#}
        {% endif %}
    </ul>

    {% if perms.followups.add_followupinitial %}
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            Related: <a href="{%  url 'wp4:followup:index' %}">Follow Ups</a>
        </li>
        <a href="{% url 'wp4:followup:initial_list' %}" class="list-group-item">Initial</a>
        {% if perms.followups.add_followup3m %}
            <a href="{% url 'wp4:followup:month3_list' %}" class="list-group-item">Month 3</a>
        {% endif %}
        {% if perms.followups.add_followup6m %}
            <a href="{% url 'wp4:followup:month6_list' %}" class="list-group-item">Month 6</a>
        {% endif %}
        {% if perms.followups.add_followup1y %}
            <a href="{% url 'wp4:followup:final_list' %}" class="list-group-item">Final</a>
        {% endif %}
    </ul>
    {% endif %}

    {% if user.is_staff %}
        <h3>Overview</h3>
        <p>TBC</p>
    {% endif %}
{% endblock %}
