{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Health Economics{% endblock %}
{% block page_header %}Health Economics{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Health Economics</li>
{% endblock %}

{% block content %}
    <h3>Actions available</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Health Economics: Home</li>
        {#  You can't access this page without perms.health_economics.add_qualityoflife  #}
        <a href="{% url 'wp4:health-economics:list' %}" class="list-group-item">Quality of Life Forms : All</a>
        <a href="{% url 'wp4:health-economics:list-baseline' %}" class="list-group-item">Quality of Life Forms : Baseline</a>
        <a href="{% url 'wp4:health-economics:list-month3' %}" class="list-group-item">Quality of Life Forms : Month 3</a>
        <a href="{% url 'wp4:health-economics:list-final' %}" class="list-group-item">Quality of Life Forms : Final</a>

{#        {% if perms.health_economics.add_resourcelog %}#}
{#        <a href="{% url 'wp4:health-economics:list' %}" class="list-group-item">Resource Logs</a>#}
{#        {% endif %}#}
    </ul>

{% endblock %}
