{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}{{ location }} Report: Biobank Paired Biopsies - Administration{% endblock %}
{% block page_header %}
    Paired Biopsies
    <small>BIOBANK REPORT</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:administration:index' %}">Administration</a></li>
    <li class="active">Report: Biobank Paired Biopsies</li>
{% endblock %}

{% block content %}
{#    CSS Hack here because Bootstrap hides the badges on print view #}
    <style>
        @media print {
            .badge {
                padding: 2px 6px;
                border: 1px solid #000;
                margin-right: 3em;
            }
        }
    </style>
    <h2>Summary</h2>
{#    <p>There are {{ listing|length }} paired biopsies collected</p>#}

    <h2>Data Listing</h2>
    <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <th colspan="2">Left</th>
            <th rowspan="2">ID</th>
            <th colspan="2">Right</th>
        </tr>
        <tr>
            <th>+/- O2</th>
            <th>Biopsy Collected?</th>

            <th>Biopsy Collected?</th>
            <th>+/- O2</th>
        </tr>
        </thead>
        <tbody>
        {% for donor in listing %}
            <tr>
                {% if donor.is_randomised %}
                    {% if donor.left_kidney.preservation == 1 %}
                        <td class="bg-info">HMP +02</td>
                    {% else %}
                        <td class="">HMP</td>
                    {% endif %}
                {% else %}
                    <td class="bg-danger">Not Randomised</td>
                {% endif %}
                </td>
                <td>
                    {% for biopsy in donor.left_kidney.tissuesample_set.all %}
                        <div class="{{ biopsy.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                            {{ biopsy.get_tissue_type_display }} : {{ biopsy.collected|yesno:"yes,no,unknown"|capfirst }}
                        </div>
                    {% endfor %}
                </td>
                <td class="">{{ donor.trial_id }}</td>
                <td>
                    {% for biopsy in donor.right_kidney.tissuesample_set.all %}
                        <div class="{{ biopsy.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                            {{ biopsy.get_tissue_type_display }} : {{ biopsy.collected|yesno:"yes,no,unknown"|capfirst }}
                        </div>
                    {% endfor %}
                </td>
                {% if donor.is_randomised %}
                    {% if donor.right_kidney.preservation == 1 %}
                        <td class="bg-info">HMP +02</td>
                    {% else %}
                        <td class="">HMP</td>
                    {% endif %}
                {% else %}
                    <td class="bg-danger">Not Randomised</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}