{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}{{ location }} Report: Biobank Blood Sample Collection - Administration{% endblock %}
{% block page_header %}
    Blood Sample Collection
    <small>BIOBANK REPORT</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:administration:index' %}">Administration</a></li>
    <li class="active">Report: Biobank Blood Sample Collection</li>
{% endblock %}

{% block content %}
{#    CSS Hack here because Bootstrap hides the badges on print view #}
    <style>
        @media print {
            .badge {
                padding: 2px 6px;
                border: 1px solid #000;
                margin-right: 3em;
            }
        }
    </style>
    <h2>Summary</h2>


    <h2>Data Listing</h2>
    <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <th>Event ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Taken at</th>

            <th>Barcode</th>
            <th>Collected</th>
            <th>Trial ID</th>
            <th>Consented?</th>
            <th>WP7 Location</th>
        </tr>
{#        <tr>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
        </thead>
        <tbody>
        {% for sample in listing %}
            <tr>
                <td>
                    {% if perms.samples.change_event %}
                        <a href="{% url 'wp4:samples:event_detail' pk=sample.event.pk %}" class="btn btn-default btn-xs"><i
                                title="edit" class="glyphicon glyphicon-eye-open"></i></a>
                        <a href="{% url 'wp4:samples:event_update' pk=sample.event.pk %}" class="btn btn-primary btn-xs"><i
                                title="edit" class="glyphicon glyphicon-edit"></i> {{ sample.event.id }}</a>
                    {% elif perms.samples.view_event %}
                        <a href="{% url 'wp4:samples:event_detail' pk=sample.event.pk %}" class="btn btn-default btn-xs"><i
                                title="edit" class="glyphicon glyphicon-eye-open"></i> {{ sample.event.id }}</a>
                    {% else %}
                        {{ sample.event.id }}
                    {% endif %}
                </td>
                <td>{{ sample.event.get_name_display }}</td>
                <td>{{ sample.get_blood_type_display }}</td>
                <td>{{ sample.event.taken_at }}</td>

                <td>{{ sample.barcode|default:"Not recorded" }}</td>
                <td class="{{ sample.collected|yesno:"bg-success,bg-danger,bg-warning" }}">
                    {{ sample.collected|yesno:"yes,no,unknown"|capfirst }}
                </td>
                <td>{{ sample.person.trial_id }}</td>
                {% if sample.person.is_recipient %}
                    <td class="{{ sample.person.recipient.signed_consent|yesno:"success,danger,warning" }}">{{ sample.person.recipient.signed_consent|yesno:"Yes,No,Unknown" }}</td>
                {% else %}
                    <td>Not applicable</td>
                {% endif %}
                <td>
                    {% for location in sample.wp7_location.all %}
                        {{ location.box_number|default:"Unknown number" }} @ {{ location.position_in_box|default:"Unknown position" }}
                    {% empty %}
                        No sample matched
                    {% endfor %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}