{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Follow Up{% endblock %}
{% block page_header %}Follow Up{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Follow Up</li>
{% endblock %}

{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Recipient</th>
            <th>Initial</th>
            <th>3 Months</th>
            <th>6 Months</th>
            <th>1 Year</th>
        </tr>
        </thead>
        {% for recipient in object_list %}
            <tr>
                <td>{{ recipient.trial_id }}</td>
                <td>
                    {% if recipient.organ.followup_initial %}
                    <a href="{% url 'wp4:follow-ups:initial_detail' pk=recipient.organ.followup_initial.pk %}"><i title="edit" class="glyphicon glyphicon-search"></i></a>
                    <a href="{% url 'wp4:follow-ups:initial_update' pk=recipient.organ.followup_initial.pk %}"><i title="edit" class="glyphicon glyphicon-edit"></i></a>
                    {% else %}
                    No initial follow up created
                    {% endif %}
                </td>
                <td>
                    {% if recipient.organ.followup_3m %}
                    <a href="{% url 'wp4:follow-ups:month3_detail' pk=recipient.organ.followup_3m.pk %}"><i title="edit" class="glyphicon glyphicon-search"></i></a>
                    <a href="{% url 'wp4:follow-ups:month3_update' pk=recipient.organ.followup_3m.pk %}"><i title="edit" class="glyphicon glyphicon-edit"></i></a>
                    {% else %}
                    No month 3 follow up created
                    {% endif %}
                </td>
                <td><a href="#">{{ recipient.organ.followup_6m }}</a></td>
                <td><a href="#">{{ recipient.organ.followup_1y }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
