{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load theme_tags %}

{% block page_title %}Transplantation{% endblock %}
{% block page_header %}Transplantation - Cases{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Transplantation</li>
{% endblock %}

{% block content %}
    {#    exisiting_cases is a list of Organs, as is new_cases #}
    <div class="row">
        <div class="col-md-9">
            <h2>
                Recipients
                <small>({{ existing_cases|length }} open case{{ existing_cases|pluralize }})</small>
            </h2>
            {% if existing_cases|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trial ID</th>
                        <th>Allocated?</th>
                        <th>Transplant Hospital</th>
                        <th title="Recipient Eurotransplant or NHSBT Number">Recipient #</th>
                        {% if request.user.is_administrator %}<th>Technician</th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in existing_cases %}
                        <tr>
                            <td>
                                <a href="{% url 'wp4:compare:transplantation_detail' case.id %}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-edit"></i> {{ case.trial_id }}
                                </a>
                                {% if request.user.is_staff %}
                                    <br><small><a href="{% url 'admin:compare_organ_change' case.id %}">
                                        Organ <i class="glyphicon glyphicon-briefcase"></i> #{{ case.id }}
                                    </a></small>
                                {% endif %}
                            </td>
                            <td class="{{ case.is_allocated|yesno:"success,danger," }}">
                                <i class="glyphicon glyphicon-{{ case.is_allocated|yesno:"ok,ban-circle," }}" title="{{ case.explain_is_allocated }}"></i>
                                {{ case.is_allocated|yesno|capfirst }}
                            </td>
                            <td>
                                {{ case.final_allocation.transplant_hospital }}
                            </td>
                            <td>
                                {% if case.recipient %}
                                    {{ case.recipient.person.number|default:"No Number" }}
                                    {% if request.user.is_staff %}
                                        <br><small><a href="{% url 'admin:compare_recipient_change' case.recipient.id %}">
                                            <i class="glyphicon glyphicon-briefcase"></i> #{{ case.recipient.id }}
                                        </small></a>
                                    {% endif %}
                                {% else %}
                                    No Recipient
                                {% endif %}
                            </td>
                            {% if request.user.is_administrator %}
                                <td>{{ case.recipient.allocation.perfusion_technician }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No existing cases available. Contact us if you think this is in error.</p>
            {% endif %}
        </div>
        <div class="col-md-3">
        {% if perms.compare.add_recipient %}
            <h2>
                Available Organs<br>
                <small>{{ organs_available_count }} Kidney{{ organs_available_count|pluralize }}</small>
            </h2>
            <form method="post" action="{% url 'wp4:compare:transplantation_list' %}" class="form" id="new-case-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Record kidney allocation</h3>
                    </div>
                    <div class="panel-body">
                        {% if allocation_form.non_field_errors %}
                            <ul class="list-group">
                                {% for error in allocation_form.non_field_errors %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% crispy allocation_form %}
                    </div>
                    <div class="panel-footer">
                        <input type="submit" class="btn btn-success" value="Save"/>
                    </div>
                </div>
            </form>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% if closed_cases|length > 0 %}
                <h3>
                    Closed Cases
                    <small>({{ closed_cases|length }} closed case{{ closed_cases|pluralize }})</small>
                </h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trial ID</th>
                        <th>Allocated?</th>
                        <th>Transplant Hospital</th>
                        <th title="Recipient Eurotransplant or NHSBT Number">Recipient #</th>
                        {% if request.user.is_administrator %}<th>Technician</th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in closed_cases %}
                        <tr>
                            <td>
                                {% if request.user.is_administrator %}
                                <a href="{% url 'wp4:compare:transplantation_detail' case.id %}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-edit"></i> {{ case.trial_id }}
                                </a>
                                {% else %}
                                    {{ case.trial_id }}
                                {% endif %}
                                {% if request.user.is_staff %}
                                    <br><small><a href="{% url 'admin:compare_organ_change' case.id %}">
                                        Organ <i class="glyphicon glyphicon-briefcase"></i> #{{ case.id }}
                                    </a></small>
                                {% endif %}
                            </td>
                            <td class="{{ case.is_allocated|yesno:"success,danger," }}">
                                <i class="glyphicon glyphicon-{{ case.is_allocated|yesno:"ok,ban-circle," }}" title="{{ case.explain_is_allocated }}"></i>
                                {{ case.is_allocated|yesno|capfirst }}
                            </td>
                            <td>
                                {{ case.final_allocation.transplant_hospital }}
                            </td>
                            <td>
                                {% if case.recipient %}
                                    {{ case.recipient.person.number|default:"No Number" }}
                                    {% if request.user.is_staff %}
                                        <br><small><a href="{% url 'admin:compare_recipient_change' case.recipient.id %}">
                                            <i class="glyphicon glyphicon-briefcase"></i> #{{ case.recipient.id }}
                                        </small></a>
                                    {% endif %}
                                {% else %}
                                    No Recipient
                                {% endif %}
                            </td>
                            {% if request.user.is_administrator %}
                                <td>{{ case.recipient.allocation.perfusion_technician }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No closed cases available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block footer_extra_scripts %}
    {{ allocation_form.media }}
    <style>
        .select2-container {
            min-width: 6em;
        }
    </style>
{% endblock %}
