{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}Dashboard{% endblock %}
{% block page_header %}COPE DB - WP4:Compare{% endblock %}

{% block content %}
<p>MTO / Procurement Technician - Does the Procurement Form. Starts the Case. Case startup generates Trial ID,
    Randomisation, etc. Validation doesn't happen until the MTO is satisfied they've done all they can.</p>
<p>2 x Recipient Transplant Technicians - Do the Recipient Forms. Need to know their L/R Trial IDs to start with</p>
<p>Admin users see....?</p>
{% endblock %}
