{% extends "base_site.html" %}

{% block page_title %}Procurement{% endblock %}
{% block page_header %}Procurement{% endblock %}

{% block content %}
<p>Procurement form goes here.</p>
<p>Eligibility Dashboard - i.e. the three ticks for inclusion in trial</p>
<p>4 Tabs:</p>
<p>* Dashboard: Trial IDs, Randomisation info, Case summary</p>
<p>* Donor information</p>
<p>* Left Organ information</p>
<p>* Right Organ information</p>
<p>Save + Validate/Close</p>

<ol>
    <li>Layout basic UI and form elements</li>
    <li>Tie in the form data</li>
    <li>Add the pickers/side data lists</li>
    <li>Build the save process</li>
    <li>Validation process</li>
</ol>

{% endblock %}
