{% extends "base_site.html" %}
{% load l10n i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Procurement{% endblock %}
{% block page_header %}Procurement - Case: {{ donor.trial_id }}{% endblock %}

{% block content %}
    <!--<p>Procurement form goes here.</p>-->
    <!--<p>Eligibility Dashboard - i.e. the three ticks for inclusion in trial</p>-->
    <form method="post" action="{% url 'compare:procurement-detail' pk=donor.id %}" class="form-horizontal">
        <div class="row">
            <div role="tabpanel" class="col-md-3">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-stacked" role="tablist">
{#                    <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab"#}
{#                                                              data-toggle="tab">Dashboard</a></li>#}
                    <li role="presentation" class="active"><a href="#donor" aria-controls="donor" role="tab" data-toggle="tab">Donor
                        {% if donor_form.errors|length > 0 %}
                            <span class="label label-danger">{{ donor_form.errors|length }}</span>
                        {% endif %}</a>
                    </li>
                    <li role="presentation">
                        <a href="#leftkidney" aria-controls="leftkidney" role="tab" data-toggle="tab">Left Kidney
                            {% if left_organ_form.errors|length > 0 %}
                                <span class="label label-danger">{{ left_organ_form.errors|length }}</span>
                            {% endif %}</a>
                    </li>
                    <li role="presentation">
                        <a href="#rightkidney" aria-controls="rightkidney" role="tab" data-toggle="tab">Right Kidney
                            {% if right_organ_form.errors|length > 0 %}
                                <span class="label label-danger">{{ right_organ_form.errors|length }}</span>
                            {% endif %}</a>
                    </li>
                </ul>
                <div class="panel panel-danger" style="margin-top: 10px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">To be eligible for this trial...</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li>Over 50</li>
                            <li>Both kidneys transplantable</li>
                            <li>Two separate recipients</li>
                        </ol>
                        <p>Insert Randomisation form and button in here</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donor</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Age:</dt>
                            <dd>{{ donor.age }}</dd>
                            <dt>NHS Number:</dt>
                            <dd>{{ donor.number }}</dd>
                            <dt>Donor hospital:</dt>
                            <dd>{{ donor.retrieval_hospital.name }}</dd>
                            <dt>Transplant co-ordinator:</dt>
                            <dd>{{ donor.transplant_coordinator.full_name }}
                                via {{ donor.transplant_coordinator.telephone }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Left Kidney</h3>
                    </div>
                    <div class="panel-body">
                        <p>Organ ID: {{ donor.left_kidney.trial_id }}</p>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Right Kidney</h3>
                    </div>
                    <div class="panel-body">
                        <p>Organ ID: {{ donor.right_kidney.trial_id }}</p>
                    </div>
                </div>

                <p class="btn-group btn-group-lg">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                    <input type="submit" class="btn btn-warning" value="Validate"/>
                </p>
            </div>

            <!-- Tab panes -->
            <div class="tab-content col-md-9">
                {#                <div role="tabpanel" class="tab-pane active" id="dashboard">#}
                {##}
                {#                    <div class="row">#}
                {#                        <div class=" col-md-4">#}
                {#                        </div>#}
                {#                        <div class=" col-md-4">#}
                {#                        </div>#}
                {#                        <div class="col-md-4">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

                <div role="tabpanel" class="tab-pane active" id="donor">
                    <h2>Donor</h2>
                    {% crispy donor_form %}
                </div>


                <div role="tabpanel" class="tab-pane" id="leftkidney">
                    <h2>Left Kidney</h2>
                    {% crispy left_organ_form %}
                </div>


                <div role="tabpanel" class="tab-pane" id="rightkidney">
                    <h2>Right Kidney</h2>
                    {% crispy right_organ_form %}
                </div>
            </div>
            {% csrf_token %}
        </div>
    </form>
    <!--<ol>-->
    <!--<li>Layout basic UI and form elements</li>-->
    <!--<li>Tie in the form data</li>-->
    <!--<li>Add the pickers/side data lists</li>-->
    <!--<li>Build the save process</li>-->
    <!--<li>Validation process</li>-->
    <!--</ol>-->
{% endblock %}
