{% extends "base_site.html" %}
{% load l10n i18n %}

{% block page_title %}{{ location }} Report: DMC Adverse Events - Administration{% endblock %}
{% block page_header %}
    DMC Adverse Events
    <small xmlns="http://www.w3.org/1999/html">REPORT</small>
{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li><a href="{% url 'wp4:administration:index' %}">Administration</a></li>
    <li class="active">Report: DMC Adverse Events</li>
{% endblock %}

{% block content %}
{#    CSS Hack here because Bootstrap hides the badges on print view #}
    <style>
        @media print {
            .badge {
                padding: 2px 6px;
                border: 1px solid #000;
                margin-right: 3em;
            }
        }
    </style>

    <h2>Summary</h2>
    <p>Report on Adverse (not serious) Events per Organ per Preservation arm.</p>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Frequency</th>
        <th>HMP -O<sub>2</sub></th>
        <th>HMP +O<sub>2</sub></th>
        <th>Totals</th>
    </tr>
    </thead>
    <tbody>
    {% for key, value in summary.organ.items %}
    <tr>
        <td>{{ key|capfirst }}</td>
        <td>{{ value.hmp }}</td>
        <td>{{ value.hmp_02 }}</td>
        <td>{{ value.hmp|add:value.hmp_02 }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr class="info">
            <th>Total Organs</th>
            <td>{{ summary.totals.organ.hmp }}</td>
            <td>{{ summary.totals.organ.hmp_02 }}</td>
            <td>{{ summary.totals.organ.hmp|add:summary.totals.organ.hmp_02 }}</td>
        </tr>
        <tr class="info">
            <th>Total Events</th>
            <td>{{ summary.totals.events.hmp }}</td>
            <td>{{ summary.totals.events.hmp_02 }}</td>
            <td>{{ summary.totals.events.hmp|add:summary.totals.events.hmp_02 }}</td>
        </tr>
    </tfoot>
    </table>


    <h2>Data Listing</h2>
    <p>List all Non-serious Adverse Events grouped by Preservation arm.</p>

    <div class="bg-primary" style="padding: 1px 0;">
        <h3>HMP -O<sub>2</sub> Adverse Events</h3>
    </div>
    <table class="table table-condensed table-responsive">
    {% for organ in listing_hmp %}
        {% if organ.non_serious_events_only|length > 0 %}
        <tr class="info">
            <td colspan="3"><h4>{{ organ.trial_id }}</h4></td>
        </tr>
        <tr>
            <th class="col-md-1">S/AE ID</th>
            <th class="col-md-2">Date of S/AE</th>
            <th class="col-md-9">Description</th>
        </tr>
        {% for event in organ.non_serious_events_only|dictsort:"onset_at_date" %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.onset_at_date }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No events</td>
            </tr>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </table>

    <div class="bg-primary" style="padding: 1px 0;">
        <h3>HMP +O<sub>2</sub> Adverse Events</h3>
    </div>
    <table class="table table-condensed table-responsive">
    {% for organ in listing_hmp02 %}
        {% if organ.non_serious_events_only|length > 0 %}
        <tr class="info">
            <td colspan="3"><h4>{{ organ.trial_id }}</h4></td>
        </tr>
        <tr>
            <th class="col-md-1">S/AE ID</th>
            <th class="col-md-2">Date of S/AE</th>
            <th class="col-md-9">Description</th>
        </tr>
        {% for event in organ.non_serious_events_only|dictsort:"onset_at_date" %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.onset_at_date }}</td>
                <td>{{ event.description }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No events</td>
            </tr>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
