{% extends "base_site.html" %}
{% load l10n i18n theme_tags %}

{% block page_title %}WP4: Administration{% endblock %}
{% block page_header %}WP4: Administration{% endblock %}
{% block page_trail %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'wp4:index' %}">WP4: Compare</a></li>
    <li class="active">Administration</li>
{% endblock %}

{% block content %}
    <p>This section supports administration activities on Work Package 4: Compare (WP4) which is a Kidney preservation trial.
    <div class="row">
        <div class="col-md-4">
            {% if request.user|has_group:5 %}{# Person.CENTRAL_COORDINATOR #}
            <h3>Offline Randomisation Lists</h3>
            <ul>
                <li><a href="{% url 'wp4:administration:europe_list' %}">Europe list</a></li>
                <li><a href="{% url 'wp4:administration:uk_list' %}">United Kingdom list</a></li>
            </ul>
            {% endif %}

            <h3>Biobank</h3>
            <ul>
                <li><a href="{% url 'wp4:administration:biobank_blood_collection' %}">Blood Sample Collection</a></li>
                <li><a href="{% url 'wp4:administration:biobank_urine_collection' %}">Urine Sample Collection</a></li>
                <li><a href="{% url 'wp4:administration:biobank_tissue_collection' %}">Tissue Sample Collection</a></li>
                <li><a href="{% url 'wp4:administration:biobank_perfusate_collection' %}">Perfusate Sample Collection</a></li>
                <li><a href="{% url 'wp4:administration:biobank_unmatched_samples' %}">Unmatched Samples</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Miscellaneous Reports</h3>
            <ul>
                <li><a href="{% url 'wp4:administration:procurement_pairs' %}">Procurement Pairs</a></li>
                {% if not perms.compare.hide_randomisation or request.user.is_superuser %}
                <li><a href="{% url 'wp4:administration:transplantation_sites' %}">Transplantation Sites</a></li>
                <li><a href="{% url 'wp4:administration:sae_sites' %}">(S)AE Sites</a></li>
                {% endif %}
                <li><a href="{% url 'wp4:administration:flowchart' %}">Donor Flowchart</a></li>
                <li><a href="{% url 'wp4:administration:completed_pairs' %}">Completed Pairs</a></li>
                <li><a href="{% url 'wp4:administration:followups' %}">Follow Ups</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>Data Monitoring Committee</h3>
            <ul>
                <li>
                    {% if not perms.compare.hide_randomisation or request.user.is_superuser %}
                    <a href="{% url 'wp4:administration:dmc_death_summaries' %}">Death Summaries</a><br>
                    {% endif %}
                    <a href="{% url 'wp4:administration:dmc_death_summaries_open' %}">Death Summaries [OPEN]</a>
                </li>
                <li>
                    {% if not perms.compare.hide_randomisation or request.user.is_superuser %}
                    <a href="{% url 'wp4:administration:dmc_permanent_impairment' %}">Permanent Impairment</a><br>
                    {% endif %}
                    <a href="{% url 'wp4:administration:dmc_permanent_impairment_open' %}">Permanent Impairment [OPEN]</a>
                </li>
                <li>
                    {% if not perms.compare.hide_randomisation or request.user.is_superuser %}
                    <a href="{% url 'wp4:administration:dmc_graft_failures' %}">Graft Failures</a><br>
                    {% endif %}
                    <a href="{% url 'wp4:administration:dmc_graft_failures_open' %}">Graft Failures [OPEN]</a>
                </li>
                <li>
                    {% if not perms.compare.hide_randomisation or request.user.is_superuser %}
                    <a href="{% url 'wp4:administration:dmc_adverse_events' %}">Adverse Events</a><br>
                    {% endif %}
                    <a href="{% url 'wp4:administration:dmc_adverse_events_open' %}">Adverse Events [OPEN]</a>
                </li>
                <li>
                    {% if not perms.compare.hide_randomisation or request.user.is_superuser %}
                    <a href="{% url 'wp4:administration:dmc_serious_events' %}">Serious Adverse Events</a><br>
                    {% endif %}
                    <a href="{% url 'wp4:administration:dmc_serious_events_open' %}">Serious Adverse Events [OPEN]</a>
                </li>
            </ul>
        </div>

    </div>

    {% if request.user|has_group:5 or request.user|has_group:6 %}{# Person.CENTRAL_COORDINATOR or Person.STATISTICIAN #}
    <h2>Statistician Data</h2>
    <ul class="list-inline">
        <li><a href="{% url 'wp4:administration:stats_p' %}" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> Procurement Report
        </a></li>
        <li><a href="{% url 'wp4:administration:stats_o' %}" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> Organ Report
        </a></li>
        <li><a href="{% url 'wp4:administration:stats_a' %}" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> Allocation Report
        </a></li>
        <li><a href="{% url 'wp4:administration:stats_ae' %}" class="btn btn-default">
            <i class="glyphicon glyphicon-export"></i> Adverse Events Report
        </a></li>
    </ul>
    {% endif %}
{% endblock %}
