{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% if form.is_valid %}
    <script type="text/javascript">
        selectAndCloseForeignKeyModal('{{ return_id }}', {{ form.instance.pk }}, '{{ form.instance.name }}');
    </script>
{% else %}

    {% include "includes/messages.html" %}

    <form class="" id="hospital_form">
        {% if form.non_field_errors %}
            <div class="col-md-12" style="margin-top: 10px;">
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% crispy form %}
        <input type="hidden" name="return_id" value="{{ return_id }}">
    </form>

    <script type="text/javascript">
        // Initialise the modal
        $('#myModalLabel').text("Manage Hospitals");
        $('#modal-action-button').text("Save and Use").removeClass("hidden");
        $('#modal-action-button').attr("onClick", "saveForeignKeyModal();");

        function saveForeignKeyModal() {
            $.ajax({
                url: getBaseURL() + "wp4/location/{{ form.instance.pk|default:"add" }}/",
                type: "POST",  // This is comply with CBV premise that POST saves forms
                data: $("#hospital_form").serializeArray(),
                success: function (htmlContent) {
                    $('#modal-content').html(htmlContent);
                },
                error: function (xhr, errmsg, err) {
                    // Show an error
                    alert("ERROR: Problem when communicating with server.\n\n" +
                            "Error message: (" + xhr.status + ") " + errmsg + "\n\n" +
                            "Please let the admin team know you've seen this error.");
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    $('#myModal').modal('hide');
                }
            });
        }
    </script>
{% endif %}