{% load l10n i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<!-- start compare/snippets/procurement_resource_formset.html -->
<div class="col-md-4" style="margin-top: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Resources Used</h3>
        </div>
        <div class="panel-body">
            <div style="padding: 0 1.2em;">
                {{ procurement_formset.management_form|crispy }}
                {% for form in procurement_formset %}
                    {{ form.id }}
{#                    {% for field in form %}#}
{#                        {% if field.errors %}#}
{#                            <p class="text-danger">{{ field.errors|striptags }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                    {% crispy form form.helper %}
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- end compare/snippets/procurement_resource_formset.html -->